[2019-10-20 07:42] haru-11 opened #1 "REAMEファイルがミスってるで～～"
develop branch のREADMEのリンクがミスってるで～～～

[2019-10-20 07:42] sk2sat commented on #1
アーッ

[2019-10-20 07:46] sk2sat commented on #1
2c5d1147425e7c1ad7e9ef501acb256cc05306d4 で修正しましたので確認して下さい

[2019-10-20 07:48] haru-11 commented on #1
やってみたらできました！ありがとうございました！！

[2019-10-20 07:48] #1 closed

[2019-10-22 15:57] tubemerc opened #2 "MPU9250動作確認 (姿勢)"
購入先：https://strawberry-linux.com/catalog/items?code=12250

[2019-10-22 18:57] tubemerc opened #3 "ADXL375動作確認 (開傘)"
購入先：https://strawberry-linux.com/catalog/items?code=12112

[2019-10-22 19:02] tubemerc opened #4 "BME280動作確認 (高度)"
購入先：http://www.aitendo.com/product/15806

[2019-10-22 19:04] sk2sat opened #5 "Gitの使い方をある程度書く"
# 書くやつ
- [x] init
- [x] add,commit
- [x] push
- [ ] pull
- [ ] branch
- [ ] merge
- [ ] rebase

[2019-10-22 19:08] tubemerc opened #6 "GYSFDMAXB動作確認 (位置)"
購入先：http://akizukidenshi.com/catalog/g/gK-09991/

[2019-10-22 19:10] tubemerc opened #8 "MPXV5050DP動作確認 (対気)"
購入先：https://www.mouser.jp/ProductDetail/Measurement-Specialties/4525DO-DS5AI015DP?qs=sGAEpiMZZMvhQj7WZhFIAITlx0ciJelDE%252Bij0fSI5uGknNsgNSIQoA==

[2019-10-22 19:13] tubemerc opened #9 "PX2AN1XX01KPAAAX動作確認 (燃圧)"
購入先：https://www.mouser.jp/ProductDetail/Honeywell/PX2AN1XX750PSAAX?qs=9donYAFoQ1jUT60WHGDXHA%3D%3D

[2019-10-22 19:14] tubemerc opened #10 "microSDCard動作確認 (保存)"

[2019-10-22 19:15] tubemerc opened #11 "24LC1025動作確認 (保存)"
購入先：http://akizukidenshi.com/catalog/g/gI-03570/

[2019-10-22 19:16] tubemerc opened #12 "ES920・TWE-Lite動作確認 (無線)"
購入先：http://easel5.com/productinfo/920subgiga.html

[2019-10-23 03:59] tubemerc opened #13 "SC133-20kg (充填量)"
購入先：http://akizukidenshi.com/catalog/g/gP-12034/
購入先：http://akizukidenshi.com/catalog/g/gK-12370/

[2019-10-23 13:33] tubemerc opened #16 "浮動小数を入出力できるようにする"
魔法で．

[2019-10-27 09:03] tubemerc commented on #6
これで動作確認完了．
https://github.com/core-rocket/momotarou/pull/18

[2019-10-27 09:03] #6 closed

[2019-10-27 09:05] tubemerc commented on #4
これで動作確認完了．
https://github.com/core-rocket/momotarou/pull/19

[2019-10-27 09:05] #4 closed

[2019-10-27 09:05] tubemerc commented on #10
これで動作確認完了．
https://github.com/core-rocket/momotarou/pull/20

[2019-10-27 09:05] #10 closed, assigned to haru-11

[2019-10-27 09:08] tubemerc commented on #13
これで動作確認完了．
https://github.com/core-rocket/momotarou/pull/21

[2019-10-27 09:08] #13 closed, assigned to omuro-kairi

[2019-10-27 09:14] haru-11 commented on #3
動作確認済み．
https://github.com/core-rocket/momotarou/pull/22

[2019-10-27 09:14] #3 closed

[2019-10-27 10:56] tubemerc opened #23 "フラッシュメモリ選定"
そろそろお願いします．
使わないという選択肢もアリ．

[2019-10-27 10:58] tubemerc opened #24 "映像ダウンリンクするのか？"
カメラ載せることをまだ信じられていません．

[2019-10-27 10:59] tubemerc opened #25 "外部電源使用するのか？"
11月大島はやるみたいですね．

[2019-10-27 11:32] tubemerc opened #26 "CAN通信動作確認"
購入先：http://akizukidenshi.com/catalog/g/gI-12030/
購入先：https://jp.rs-online.com/web/p/can-transceivers/0402920/

[2019-10-28 07:09] sksat commented on #16
https://github.com/core-rocket/momotarou/blob/utility/string/utility/example.cc
魔法です．精度は自分で指定した方が良さそう

[2019-10-28 07:10] sksat commented on #16
出力だけですが

[2019-10-28 08:38] sksat commented on #16
`.temp/tools/toolchains/gcc.py`を
[code]
にしたらできたとのこと(newlib-nanoが使用されているため，明示的にリンクする必要がある)．
リリースビルド時は要らなさそう．

[2019-10-28 08:43] sksat commented on #16
@tubemerc utility/stringはどうしますか？floatの入出力というよりstd::stringのサブセット(+to_string)みたいなかんじですが

[2019-10-28 08:45] sksat commented on #5
全然やってねえ．あとIssue,PRあたりもあった方が良いよなあ...

[2019-10-28 10:35] tubemerc commented on #16
floatの問題が解決したので恐らく使わない．
使うとしたら，binファイルの容量を抑えたいとき．

なので，とりあえず放置（これは好ましくない？）して，issueを閉じたい．

[2019-10-28 11:11] tubemerc commented on #25
外部電源導入したい人どれぐらいいますか？（したい人はリアクションお願いします）
個人的にはアリです．

[2019-10-28 11:12] tubemerc commented on #24
映像ダウンリンクしたい人どれぐらいいますか？（したい人はリアクションお願いします）
個人的にはお金がかかりそうなのでナシです．

[2019-10-28 13:56] sksat commented on #16
了解しました．closeします．

[2019-10-28 13:56] #16 closed, assigned to sksat

[2019-10-28 18:14] sksat commented on #25
どんな目的で，どのように導入するかによりますね...

[2019-10-29 03:34] tubemerc commented on #25
◆利点
①長時間の風待ちによる電源の入れ替えが無くなる．
②搭載する電源の容量を減らせる（重量と予算を抑えられる）．

①に関しては電源入れ替えのオペレーションが簡素であれば解決．

◆方法
DCジャックを使えば抜くだけで電源を切り替えられるので楽．
他にはダイオードやMOSFETでスイッチ．

[2019-10-29 05:52] sksat commented on #25
考える必要がある点として，
- "外部電源"の電力源はどのようなものか
- 機体のどこから線を出すのか
- いつ，どのように切り替えるのか
- 切り替えの瞬間の瞬断対策

などがありそうですね

[2019-10-29 06:03] sksat commented on #24
個人的にはしたいし，技術的にはできる(というかVTX載せるだけだし)のでやりたいんですが，非本質的なタスクが多そうだし今回やる必要は無いかもなと思ってます．ただ，本当に"載せるだけ"なのでそれを主目的にしたプロジェクトを別の機会にできるかは :thinking: なので今回やれるならやりたい...という気持ちもあるかんじですね．

[2019-10-30 02:15] tubemerc opened #27 "使用電源を決める"
脳死でLiPoか？

[2019-10-30 02:26] tubemerc commented on #25
11月大島の成功・失敗事例見てから設計確定させたいが，基板発注に間に合わんかもな～～

[2019-10-30 02:28] tubemerc commented on #23
決定できそうですか？

[2019-10-30 02:32] haru-11 commented on #25
水密の外から電源ONOFFができれば，外部電源はいらないとおもぅ．
外部電源をつける場合，機体側に電源端子に海水が入っても問題ないような工夫が求められる

[2019-10-30 02:34] haru-11 commented on #27
信頼と実績のLiPoでいいんじゃない．あまり悩む必要もなさそう

[2019-10-30 02:37] haru-11 commented on #24
VTXはお金があれば載せていいと思う．
カメラは載せたい．機体班と調整して前に進めてほしい

[2019-10-30 02:37] haru-11 commented on #23
決定します

[2019-10-30 02:44] tubemerc opened #28 "ロガー製作"
- ADXL375を用いて加速度を取得する．
- MPU9250を用いてジャイロ・加速度・地磁気を取得する．
- BME280を用いて大気圧を取得する．
- 取得したデータをmicroSDカードに保存する．

[2019-10-30 02:50] tubemerc commented on #8
ぐんまちゃん曰く，
- このコードで動く https://forum.arduino.cc/index.php?topic=575210.0
- 測定範囲が1psiだと-0.5~0.5psiの範囲で測定可能なので単純に速度出すときは0.5psiの範囲でしか測定できない．
- ピトー管を逆に接続してもプログラムの中で絶対値取ってるのでデータは取得可能．

[2019-10-30 02:51] tubemerc commented on #8
値が妥当かどうか保証する方法決めなければ……

[2019-10-30 02:52] haru-11 commented on #8
風洞か，風速計買う
あとSTM32で動かさんと
Amazonの[コレ](https://www.amazon.co.jp/OTraki-GM816-%E3%82%B3%E3%83%B3%E3%83%91%E3%82%AF%E3%83%88-%E3%82%A2%E3%83%8D%E3%83%A2%E3%83%A1%E3%83%BC%E3%82%BF%E3%83%BC-%E5%B9%B3%E5%9D%87%E5%80%A4%E8%A1%A8%E7%A4%BA%E5%8F%AF%E8%83%BD/dp/B06ZZB2VM4/ref=sr_1_2?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&keywords=%E9%A2%A8%E9%80%9F%E8%A8%88&qid=1572403997&s=instant-video&sr=8-2)とか

[2019-10-30 02:55] tubemerc commented on #8
差圧系の測定レンジ足りないのでこっち買う
https://www.mouser.jp/ProductDetail/Measurement-Specialties/4525DO-DS5AI015DP?qs=sGAEpiMZZMvhQj7WZhFIAITlx0ciJelDE%252Bij0fSI5uGknNsgNSIQoA%3D%3D

[2019-10-30 02:59] tubemerc opened #29 "動圧(対気速度)取得系製作"
- ピトー管&MPXV5050DPを用いて動圧を取得する．
- 動圧と対気速度をCANで送信する．

[2019-10-30 03:02] tubemerc opened #30 "燃焼室圧力計測系製作"
- PX2AN1XX01KPAAAXを用いて圧力を取得する．
- 圧力をCANで送信する．

[2019-10-30 03:06] tubemerc opened #31 "位置情報・時刻取得系製作"
- GYSFDMAXBを用いて位置情報・時刻を取得する．
- 位置情報・時刻をCANで送信する．

[2019-10-30 03:09] tubemerc opened #32 "気圧・温度取得系製作"
- BME280を用いて気圧・気温を取得する．
- 気圧の5回移動平均値を出す．
- 気圧(平均)・気温をCANで送信する．

[2019-10-30 03:11] tubemerc opened #33 "N2O充填量算出系製作"
- ロードセルを用いて重量を取得する．
- N2O充填量を算出する．
- N2O充填量・重量をmicroSDカードに保存する．
- N2O充填量をTWE-Lite BLUEを用いて地上局に送信する．

[2019-10-30 03:15] tubemerc opened #34 "9軸取得・姿勢角算出系製作"
- MPU9250を用いて加速度・角速度・地磁気を取得する．
- 加速度の5回移動平均を出す(角速度と地磁気も？)．
- 姿勢角を算出する．
- 加速度(平均)・角速度・地磁気・姿勢角をCANで送信する．

[2019-10-30 03:34] tubemerc opened #35 "保存系製作"
- CANで受信できるあらゆるデータをSD Cardに保存する．

[2019-10-30 03:37] tubemerc opened #36 "フェーズ判定系製作"
- CANでデータを受信する．
- フェーズ判定を行う．
- アクチュエータ(電磁弁?)を動作させる．
- フェーズを記憶媒体(EEPROM)に保存する．
- フェーズをCANで送信する．

- 流れ⇒ https://github.com/core-rocket/momotarou/issues/36#issuecomment-583723235

[2019-10-30 03:43] tubemerc opened #37 "ダウンリンク系製作"
- 優先順位(from PM)
    - (必須)①フェーズ・位置座標・高度
    - ②姿勢・燃焼室圧力
    - ③対気速度
- ES920
    - 送信：ｴﾗｰ, 気圧, 経度・緯度, 時刻, ﾌｪｰｽﾞ
    - 受信：ｺﾏﾝﾄﾞ
- TWE-Lite
    - 送信：時刻, 9軸, 圧力, 動圧, 温度

[2019-10-30 03:43] tubemerc opened #38 "地上局製作"
- ロケットからダウンリンクされるデータを受信する．
- 受信したデータのログを保存する．
- 計算する．
    - 高度
    - 対気速度
- （姿勢を表示する．）
- 4つ必要．
    - ES920(ロケット)
    - TWE-Lite RED(ロケット)
    - Tramp-HV(カメラ)
    - TWE-Lite BLUE(ロードセル)

[2019-10-30 05:09] haru-11 commented on #23
[コレ](https://www.marutsu.co.jp/pc/i/16838830/)買っていい？
一つ1300円くらい．本番は複数乗せる．

[2019-10-30 05:13] haru-11 commented on #23
コレ[https://www.marutsu.co.jp/pc/i/23563876/](url)は？

[2019-10-30 05:19] tubemerc commented on #23
1300円のやつ採用します

[2019-10-30 06:00] haru-11 commented on #23
まじ？

2019年10月30日(水) 14:19 tubemerc <notifications@github.com>:

--
-------------------------------------------------------
首都大学東京 システムデザイン学部
航空宇宙システム工学コース 学部1年
指田 春輝 (SASHIDA Haruki)
MAIL1: degmyb.5534g@gmail.com
MAIL2: sashida-haruki@ed.tmu.ac.jp
TEL: 08034110430
-------------------------------------------------------

[2019-10-31 23:18] tubemerc commented on #26
早く購入しろ

[2019-11-01 03:26] tubemerc commented on #33
次の燃焼試験(11/17)で試験したい．

[2019-11-03 15:22] tubemerc commented on #26
注文した

[2019-11-03 15:28] tubemerc commented on #12
@sk2sat @haru-11 @shoji-kota
11/10(日)に動作確認(STM32から送信・PCで受信)やってもらいたいんですが，我こそはという方いますか．
日曜に終わらなくても持ち帰りokです．

[2019-11-03 15:32] tubemerc commented on #8
@Kazu-hub
11/10(日)にコレをSTM32で動かしてほしいんだけどできる？

[2019-11-03 15:35] tubemerc commented on #9
使い方全く調べてない．
燃焼試験でのマニュアルはある(ただし専用の計測装置を使っている，ロケットには載せられない)．
COREの所有しているコンプレッサーの最大使用圧力0.7MPa．

[2019-11-10 04:56] tubemerc commented on #26
mbedのCAN通信で送れるのはcharだけ．
https://os.mbed.com/users/okini3939/notebook/can_jp/

float型のデータをchar型4つに分解してSerial通信/CAN通信で送受信する方法
https://qiita.com/Agatsuma854/items/9f5727d4e1966d2a34a1

[2019-11-10 04:59] tubemerc commented on #26
以下のプログラムで2台のSTMを用いたcharの送受信完了．
https://os.mbed.com/forum/ja/topic/27937/

[2019-11-10 06:33] tubemerc commented on #24
ユクロがプロジェクトに入ってくれるっぽくて，やりたいと言ってくれているので，ダウンリンクする説濃厚です．

[2019-11-10 06:37] tubemerc commented on #26
MCP2515いらんくね……となっている

[2019-11-10 14:07] shoji-kota commented on #24
自分も興味があります

[2019-11-15 05:52] tubemerc commented on #2
指田ができたと言っていたので閉じます．

[2019-11-15 05:52] #2 closed

[2019-11-15 08:02] tubemerc commented on #26
複数(2つ)のIDを分けて使えることを確認．
floatをcharにして送信，受信してfloatに戻せることを確認．
https://github.com/core-rocket/momotarou/tree/CANbus

[2019-11-15 08:02] #26 closed, assigned to tubemerc

[2019-11-15 08:07] tubemerc commented on #23
結局買ったんだっけ？

[2019-11-15 11:09] haru-11 commented on #23
明日までに買います…

—————————
首都大学東京 システムデザイン学部
航空宇宙システム工学コース 学部3年
指田 春輝 (SASHIDA Haruki)
MAIL: degmyb.5534g@gmail.com
—————————

[2019-11-15 14:58] Yukuro commented on #24
- やろうとしている事
  - カメラからリアルタイムで映像を転送
     - [x] 3アマの取得(必須なのは4アマ)
     - [x] 無線局免許状の取得
     - [x] VTX,VRX,カメラの購入

(ここから下は完全に趣味なのでプロジェクトには関係ないかも)
  - カメラからリアルタイムでVRする
    - [ ] 魚眼レンズの購入
      - 購入予定(https://jp.rs-online.com/mobile/p/video-modules/1633896/)
    - [ ] Equirectangularへの変換

[2019-11-16 11:23] haru-11 commented on #33
ほう...
いつやりますか？

[2019-11-17 06:49] tubemerc commented on #9
STM32F303アナログ入力の動作試験完了．
0V~3.3Vまで検知可能．

圧力計の出力を分圧してから入力して圧力に校正する（動作未確認）．

[2019-11-17 08:35] tubemerc opened #39 "BBM試験計画書作成"
- [x] PMからフォーマットを受け取る．
- [ ] ロガー
- [ ] 対気速度計測系
- [ ] 燃焼室圧力計測系
- [ ] 位置情報取得系
- [ ] 高度算出系
- [ ] N2O充填量算出系
- [ ] 姿勢角算出系
- [ ] 保存(対気・燃圧・姿勢)系
- [ ] 開放判定系
- [ ] ダウンリンク系
- [ ] 地上局

[2019-11-17 09:30] tubemerc opened #40 "MT25QL01GBBB動作確認(フラッシュメモリ)"
購入：https://www.marutsu.co.jp/pc/i/16838830/

[2019-11-18 01:30] haru-11 commented on #40
買いました

[2019-11-18 01:30] tubemerc commented on #27
動作時間3.0[h], 供給7.4[V]
- main 1321.9[mAh]
- loger 343.3[mAh]
- 燃圧 105.6[mAh]
- 対気 101.6[mAh]

動作時間??[h], 供給??[V]
- 電磁弁 ????[mAh]
- カメラ ???[mAh]
- 外部給電? ???[mAh]

[2019-11-18 01:35] #23 closed, assigned to haru-11

[2019-11-18 01:43] tubemerc commented on #8
@Kazu-hub @omuro-kairi
大室にピトー管と差圧センサ渡しました．
浜田は11月大島のタスクをこなしてください．

[2019-11-19 07:59] sksat commented on #39
これmilestoneその他では

[2019-11-19 08:00] sksat opened #41 "CIの導入"
雲の上の計算機にビルドさせて気持ちよく...なりたい！！！

# ToDo
- [x] cloneしてきたらコマンド何発かでビルドできるようにする
- [x] CIと闘う

[2019-11-19 08:02] sksat commented on #41
GitHub Actionsが割とかなり楽だったので多分それでやります

[2019-11-19 08:38] sksat commented on #41
インストールしてきたライブラリがリポジトリに入っている(各々の環境`mbed deploy`でインストールするべき)ので，まずはそれらを消す

[2019-11-19 08:47] sksat commented on #41
作業ディレクトリにmbed-os放り込むの，仕方がないとは思うけどやっぱり美しくないな...

[2019-11-19 08:52] sksat commented on #41
Python2は滅んで，どうぞ

[2019-11-19 21:12] tubemerc commented on #39
ワア！
移動しました

[2019-11-20 17:05] tubemerc commented on #41
これ作業中だけど動作試験したセンサのプログラムpushしても問題無い？
(今すぐにcommit,pushするものがあるわけじゃなくて，気になっただけ)

[2019-11-21 05:24] sksat commented on #41
別ブランチでやってるのでokです。でもdevelop弄ったのでそこの更新だけしてもらえれば

[2019-11-21 06:59] tubemerc commented on #36
決めること
- [ ] 離床判定の方法．
- [ ] 開放判定の方法．

[2019-11-21 15:09] sksat commented on #5
何もやっていない２ですが，なんかわかんねえなとなったら聞くor調べるの方が速い気がしています，いま．あと11月の人はなんとなくわかる...かな？

[2019-11-21 15:59] haru-11 commented on #11
”TAKEYUKI”を書き込んで，読み込むことができたのでクリアでいいですか？

[2019-11-21 16:02] tubemerc commented on #11
"TAKEYUKI"であれば問題ありません．完了で良いです．

[2019-11-21 16:04] haru-11 commented on #11
ありがとう，”TAKEYUKI”
Closeします．ライブラリの改良は今後も続けます．

[2019-11-21 16:04] #11 closed, assigned to haru-11

[2019-11-22 07:29] tubemerc commented on #9
DCプラグを購入する
おそらくこれ↓
http://akizukidenshi.com/catalog/g/gC-06513/

[2019-11-22 07:29] tubemerc commented on #40
@tubemerc が電通大のマルツまで取りに行く．

[2019-11-22 07:32] tubemerc commented on #27
動作時間3時間想定は妥当であるか？
- 外部給電するかどうかによる．（しなくてもいいのでは……になっている）
- 電源ONのタイミングによる．

[2019-11-22 07:47] tubemerc opened #42 "基板設計ソフトの決定"
候補
・Quadcept
・Eagle
・KiCAD

- Quadceptの場合
勝部が使い慣れているので設計ミスが減らせる（と思う）．しかし，無償版はPCBで100ピンまでしか使えないという制限アリ．勝部・指田は有償版使用可能．
設計者に担当ヶ所（100ピン以内に収まるような）を割り振って，勝部が統合する流れになる．

※マイコン＋センサ+いくつかのコネクタ+抵抗・コンデンサ＋ビア等で100ピンぐらい．1つの機能を持った基板は作れると思う．

- Eagleの場合
無料．浜田・庄司が使用経験アリ．
これからCOREがPCBをやっていくならこのソフト使うのでは？と思ってるので今回使うのはアリ．
設計者に担当ヶ所（Quadceptを使うより大量に割り振れる）を割り振って，勝部が統合する流れになる．

- KiCADの場合
無料．よく知らん．

意見，求ム．

[2019-11-22 08:32] shoji-kota commented on #42
Quadceptを使ってみたいです。
自分はEAGLEしか使ったことがないため、他のソフトをさわってみたいと思います。
(自分はeagle,Quadceptどちらでもいいです。)

[2019-11-25 08:18] tubemerc commented on #9
プラグ違いました……

圧力センサ仕様
- Connector：DELPHI 12078088（生産終了？）
- Mating Connector：[DELPHI 12110192](https://www.mouser.jp/ProductDetail/Aptiv-formerly-Delphi/12110192?qs=JdmRl75CwToVcuEd41g61Q%3D%3D)

CORE特性変換ケーブルはDELPHI 12078088を
- RCAプラグ
- DCジャック(7.9x5.5mm)
に変換するので
7.9x5.5mmに対応したDCプラグを探す．

[2019-11-25 08:29] tubemerc commented on #9
見つからないので[uxcell DC電源コネクタ アダプタ ジャック 7.9 x 5.5mm オス - 5.5 x 2.5mm メス](https://www.amazon.co.jp/dp/B071YZBG1B/ref=cm_sw_r_tw_dp_U_x_p642DbNS9G6S3)を使って5.5x2.5mmに変換する．

[2019-11-27 05:25] tubemerc commented on #40
受け取りました．
セブンのビニール袋に電子部品入れられるのおもろすぎ．

[2019-11-29 14:03] haru-11 commented on #40
今船の上なので，大島から帰ってからやります（寒い）

[2019-11-29 14:04] haru-11 opened #43 "さるびあ丸の船上からここにコメントする"
寒いです

[2019-12-03 03:56] sksat commented on #37
やっていきます．あとやっぱり920MHzと2.4GHz併用したいです(あとできれば5.8GHz)．

[2019-12-03 04:02] sksat commented on #43
爆睡した

[2019-12-03 04:02] #43 closed, assigned to nobody

[2019-12-03 04:09] sksat commented on #42
Quadcept，Windowsのみっぽい？

[2019-12-03 05:52] tubemerc commented on #37
やった～！！STM32とES920って渡してないっけ？
やっぱり併用したい←なぜ？

[2019-12-03 05:54] tubemerc commented on #42
windowsのみ……
winでやるのはめんどくさい？LinuxだとEagleかKiCADだ

[2019-12-03 05:56] haru-11 commented on #36
離床判定の方法
離床判定しない
「充填確認，点火5秒前」
で操作点からフライトモードONにする．そんで，5秒プラスα（点火までの時間）で離床したと判断させる．
バックアップで高度とか，強制開放コマンドとか決めたい

[2019-12-03 05:58] haru-11 commented on #36
開放判定の方法
１，気圧の変化
２，合成加速度が0G近く
３，タイマー
４，地上コマンド
を選択して盛り込む

[2019-12-03 06:21] sksat commented on #37
なんだかんだで持って帰ってませんでした．

併用したい理由は以下のようなかんじです．
- 11月大島で920MHz(というかLoRa)が割と離れていようが多少障害物があろうがそこそこの強度で通信できることが確認できた．
- コマンド送信及び動作モード・高度・GPSなどの重要なパラメータのダウンリンクはES920LRが向いていると思う
- しかし，時間制限や1パケット当たりの最大ペイロードサイズが小さい
- 大量・高サンプリングレートのデータのダウンリンクには全く向かない

- 2.4GHz(というかTWE-Lite Red)でかなり大量のデータをダウンリンクできることは実証済み
- 3軸加速度・3軸ジャイロ・気温(MPUとBMP)・気圧・GPSをGPSは10Hz，それ以外は100Hzで送るようにしていた
  - 結局スタンバイモードのまま離床したのでログもテレメも10Hzとかでしたが，前日

[2019-12-03 06:26] tubemerc opened #44 "回路図作成"
[保存先(GoogleDrive)](https://drive.google.com/drive/folders/1LICPqx5Qaskk3ip6EKNtGYzf55OTYrrQ?usp=sharing)
- [x] layer1（無線など）
- [x] layer2（センサなど）
- [x] layer3（電源+ロガー）
- [x] ノーズ （_Nose_）
- [x] 電磁弁（_Solenoid valve_）

[2019-12-03 06:26] sksat commented on #37
もちろん，トワの疎通性が若干悪いのは周波数というよりは出力の問題なので全部アマ無線で5.8GHzとかにできるなら統一してよいとは思いますが，要約すると **CANで全モジュールにデータ回してて920MHz使うんだったら2.4GHzくっつけるだけで取れるパラメータもサンプリングレートも上げられるし920MHzは重要なタスクに集中できるしメリットめっちゃあるじゃん？** ってことです．

[2019-12-03 06:46] sksat commented on #36
点火直前にコマンド送信してそれを判定に使うのは流石にリスキー(もし送信/受信失敗した or 受理されなかった場合悲惨)なので，
フライトモード移行は総員退避後，移行したことを地上局で確認，で良いと思います．

ただ，参考値(orバックアップ)として点火確認のコマンドを送る，とかはアリだと思います．
[code]
みたいなイメージです．

あと，地上局ソフトをある程度ちゃんと作って，地上局担当の人間がやることを

- 動作確認コマンドの送信
- 機体組み立て時の開放機構lock/unlockコマンド送信
- 総員退避後フライトモード移行コマンド送信
- 点火確認の入力
- テレメトリデータ確認

に限定すべきだと思います．
「離床TBD秒後に開放していなかったら強制開放コマンドを送る」とかを人間がやるのは不正確かつ信頼性が無いので，
点火を確認したら点火確認コマンド送信，そのTBD秒後に強制

[2019-12-03 06:48] sksat commented on #42
めんどくささがありますね...とはいえ僕はやるかわからん太郎なので使いやすさとかを優先して下さい

[2019-12-03 06:51] sksat commented on #38
地上局複数欲しい．点火点と本部とか．せっかく電波飛ばしてるのに受け取る奴が１つしか無いとかはバカですよ．

[2019-12-03 06:55] sksat commented on #38
あと，PCの電池残量ガーとかやりたくないのでラズパイとかで作っちゃって小型液晶で概要見られるようにしてモバイルバッテリーとくっつけて持ち運びやすいやつを作れるとめちゃめちゃ嬉しい

[2019-12-03 06:56] sksat commented on #38
めちゃめちゃうれしいというだけで必要ではないので小型地上局セットは長期目標でOK

[2019-12-03 07:38] haru-11 commented on #36
ごめん．点火5秒前コマンド送信で離床判定して，そのバックアップで高度なり，加速度なり，コマンド送信なりで離床判定させたいってことだった．
点火5秒前コマンド送信と言ったのは，加速度がかかった状態だと送受信しにくいのではないか，とかもし通信が確立できなかったときに5秒間で対処できるなあとか浅い考えを色々巡らせた．
確かに，点火5秒前コマンド送信は不点火の場合を考えたらリスキーなので，satの言うとおり点火確認コマンドがいいのかなと思った．

[2019-12-03 07:44] sksat commented on #36
なるほどです．"点確認コマンド"は適当に考えたものですが，これは5秒前とかでも良いと思います(加速度がかかった状態だとどうこうとかの可能性はあるので)．
ただ，人間の判断とセンサ値どっちをバックアップにするかはちゃんと考えた方が良さそうです．

[2019-12-03 08:10] tubemerc commented on #42
Quadceptでいくぜ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！

[2019-12-03 08:10] #42 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2019-12-03 23:57] tubemerc commented on #37
アリですねぇ！
できるだけダウンリンクしたいの気持ちが個人的に強いし（海打ちだとなおさら），使用経験のある2.4GHz載せて負担になるのは金銭面ぐらいなので，無線機併用やっていきたい

[2019-12-04 06:16] sksat commented on #37
やったぜ(そして飛んでいく金)

[2019-12-07 00:09] Yukuro commented on #38
地上局のアンテナ設置用としてこんなマウントを作りました
![_20191207_090108](https://user-images.githubusercontent.com/15343476/70364736-279c2f00-18d1-11ea-87fc-bc931e70c562.JPG)

(下の棒のようなものは[エレベーター三脚](https://www.amazon.co.jp/dp/B07MJ5RJCX/ref=cm_sw_r_cp_apap_6EABcWmj8Gfjd)です)

[2019-12-07 12:35] tubemerc opened #45 "映像ダウンリンク系製作"
- カメラからリアルタイムで映像を転送
    - [x] 3アマの取得(必須なのは4アマ)
    - [x] 無線局免許状の取得
    - [x] VTX,VRX,カメラの購入
(ここから下は完全に趣味なのでプロジェクトには関係ないかも)
- カメラからリアルタイムでVRする
    - [ ] 魚眼レンズの購入，購入予定(https://jp.rs-online.com/mobile/p/video-modules/1633896/)
    - [ ] Equirectangularへの変換

[2019-12-07 12:36] tubemerc commented on #24
映像ダウンリンクする．
製作は #45 へ

[2019-12-07 12:36] #24 closed, assigned to sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2019-12-07 12:41] tubemerc commented on #44
回路図layer1,2とりあえず完了．
[qprojファイル](https://drive.google.com/open?id=15ByZCZ1KrYgUPO2SzJt0-5oNLWpl3sa1)
誰か↑のファイルをQuadcept **ver10**で読み込んで回路図見れるか確かめてほしい．

[2019-12-07 12:42] tubemerc commented on #44
メモ
- 電源基板で電圧を下げる．
- 電源・CANはEHコネクタで繋ぐ．

[2019-12-07 17:46] sksat commented on #41
https://github.com/core-rocket/momotarou/commit/5bfac800c31db1d5f4ca262dcd847c532d0f4818/checks?check_suite_id=347154937
寝ぼけながらなんかやったらできた

[2019-12-07 17:49] sksat commented on #41
ただこれ一旦無視してるだけで，ADXL375だけビルドコケてます

[2019-12-07 17:59] sksat commented on #41
https://github.com/core-rocket/momotarou/blob/ADXL375/ADXL375/ADXL375_i2c/ADXL375_i2c.h
を見てみたらコンストラクタとかからして違うので，おそらくADXL375_i2c.libに書いてある`46fcf349bdca`ではないバージョンのものなのでは．．．？というかこれPQのやつだったんですね

[2019-12-07 18:02] sksat commented on #41
と思ったがバージョンはこれしか無いっぽい...？謎だ...
https://os.mbed.com/teams/PQ_Hybrid_Electrical_Equipment_Team/code/ADXL375_i2c/shortlog/

[2019-12-07 18:05] sksat commented on #41
@haru-11 ADXL375ブランチにある`ADXL375_i2c`とhttps://os.mbed.com/teams/PQ_Hybrid_Electrical_Equipment_Team/code/ADXL375_i2c/ の中身が違うように思えるんですが，どうやってライブラリを持ってきましたか？

[2019-12-07 18:08] sksat opened #46 "テレメトリ仕様策定"
参考: [能代の時のやつ](https://github.com/core-rocket/ASAHI/blob/master/telemetry.md)

[2019-12-08 01:20] haru-11 commented on #41
@sk2sat
PQのライブラリインポートしたんだけど、うまく動かなかったから、結局1から作り直した痕跡…
このままの状態だと良くないですかね…

[2019-12-08 06:16] haru-11 commented on #44
QC ver10でqprojファイルが開けることを確認しました．

[2019-12-08 06:37] sksat commented on #41
結局１から作り直した了解です

[2019-12-08 09:47] sksat commented on #41
@haru-11 24LC1025のライブラリ，https://os.mbed.com/users/sashida_h/code/24LC1025 に最新のものを上げてもらっていいですか？そうすると.libを使ってダウンロードすると古いバージョンのものが降ってくるので．
それとも，このライブラリはこのリポジトリ内で開発・メンテします？

[2019-12-08 11:10] sksat commented on #41
CIは追加したのでclose

[2019-12-08 11:10] #41 closed, assigned to sksat

[2019-12-09 07:55] tubemerc commented on #9
DCプラグ-USB変換ケーブルなど使って動作確認した．
- null output value : 10% of Vs(5[V]) -> 0.5[V] -> 分圧して0.25[V]
    - STMのanalog入力で0.25[V]を取得できた．

- full scale output value : 90% of Vs(5[V]) -> 4.5[V] -> 分圧して2.25[V]
    - full scale = 5.171[MPa]を作り出すところから始める．
    - コンプレッサーと圧力センサをどうにかして繋ぐ．
        - 円柱をねじ切りしたヤツを介して繋げる．

[2019-12-09 08:06] tubemerc commented on #9
@omuro-kairi
勝部駿を救いたくはないですか？円柱に穴を開けてねじ切りするだけの簡単な仕事です．

[2019-12-09 08:33] omuro-kairi commented on #9
救いたくな、喜んで救いたいです。何時までにやれば良いですか？材料の場所も教えて貰えると助かります。

[2019-12-09 08:36] tubemerc commented on #9
快く引き受けてくれてありがとう．
次日野来れそうな日いつ？詳細は明日連絡します．

[2019-12-09 08:46] omuro-kairi commented on #9
木曜日とかですかね

[2019-12-10 08:19] tubemerc commented on #9
ありがとう．
今週の木曜日に日野まで来てください．
詳細は今ここではお伝え出来ません．

[2019-12-10 09:19] tubemerc commented on #44
メモ
- EHコネクタの正面（背中が無い方）から見て左がGND，右がVCCとする．
    - 過去に使ったLiPoのほとんどがこのように圧着されているため．
    - 左がGNDの方が馴染みがある人はごめんなさい．
To Do
- [x] 電磁弁関係をlayer1に追加する．
- [x] TWE-Liteのピン配置見直す．
- [x] デバッグ用TX-RX付ける．
- [x] 燃圧のマイコンをlayer2に移動する．
- [ ] 昇圧回路

[2019-12-10 10:36] tubemerc opened #50 "電源選定"
[vs部品選定(GoogleDrive)](https://docs.google.com/spreadsheets/d/1Kz1ErzAzalOln61T2xrOWctV279TNjGr3g0SD2S2g8g/edit?usp=sharing)

6[h], 7.4[V]

| 場所 | 要求[mAh] | 仕様[mAh] | 数[個] |
| :----: | ----: | ----: | ----: |
| layer1+2(main) | 3124 | 2000 | 4 |
| layer4(logger) | 687 | 860 | 2 |
| nose | 206 | 400 | 2 |
| actuator※ |  | 400 | 2 |
| valve1 |  | 300 | 2 |
| valve2 |  | 150 | 3 |

※12[V]に昇圧．
Camera：#

[2019-12-10 10:36] tubemerc commented on #27
LiPoを使う．
#50で選定．

[2019-12-10 10:36] #27 closed, assigned to sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2019-12-16 05:08] tubemerc commented on #8
NAFTが使ってたヤツの50kPaまでいける版
今使おうとしてるやつの半分の値段(2000円)
https://www.mouser.jp/ProductDetail/NXP-Semiconductors/MPXV5050DP?qs=sGAEpiMZZMt7FrWooXVB1zWnaq%252BQl1QQ

[2019-12-16 06:05] tubemerc commented on #45
@Yukuro
カメラと無線機の購入先のリンクがほしい．

[2019-12-16 08:11] Yukuro commented on #45
カメラ
https://jp-m.banggood.com/Eachine-1000TVL-13-CCD-110-Degree-2_8mm-Lens-Mini-FPV-Camera-NTSC-PAL-Switchable-p-1053340.html?rmmds=myorders
無線機(VTX)
https://www.hobbynet-jp.com/?pid=137317214

[2019-12-18 02:31] tubemerc opened #51 "PCB作成"
[保存先(GoogleDrive)](https://drive.google.com/drive/folders/1LICPqx5Qaskk3ip6EKNtGYzf55OTYrrQ?usp=sharing)
- [x] layer1（無線など）
- [x] layer2（センサなど）
- [x] layer3（電源+ロガー）
- [x] ノーズ （_Nose_）
- [x] 電磁弁（_Solenoid valve_）

[2019-12-20 03:40] tubemerc commented on #44
- UART1をSerial sensor
- UART2をSerial pc
だと正常に動作するが，逆にすると正常に動作しないことがあるという衝撃の真実に涙が止まらない．

[2019-12-21 03:57] tubemerc commented on #50
動作時間3[h]→6[h]

[2019-12-21 04:06] tubemerc commented on #50
容量は稲電機で買えるヤツ基準
http://www.inedenki.co.jp/category/lithium/Lipobattery.html

[2019-12-21 04:09] tubemerc commented on #50
バルブ電装仕様
400[mAh],2[個]
150[mAh],3[個]

@haru-11
動作時間6[h]にしたけどこれは変わる？

[2019-12-21 04:10] tubemerc commented on #33
1/11の燃焼試験で試験するらしい．

[2019-12-21 04:12] tubemerc commented on #9
朝野が変換プラグを購入するので加工は無し（？）

[2019-12-21 04:12] tubemerc commented on #25
動作時間6時間！梨！

[2019-12-21 04:12] #25 closed, assigned to sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2019-12-21 04:44] tubemerc commented on #44
基本UART1をserial pcに使いますが，センサなどでUARTを使う必要がある場合は，UART2をserial pcにします．

[2019-12-21 12:38] omuro-kairi commented on #9
了解しました
結局今週も加工出来ませんでした
本当に申し訳ないです

[2019-12-22 06:16] tubemerc commented on #51
電源基板(layer3)とロガー基板(layer4)を同一にしたいという気持ち、アリ．

[2019-12-22 06:18] tubemerc commented on #51
基板減らして良いらしいので，layer3と4をくっつけます．

[2019-12-23 03:33] tubemerc commented on #51
@shoji-kota
最新版Quadceptファイルあげました．layer2のPCB作成を12/25までにお願いします！

中に何も入っていない緑の円形の中に納まるようにお願いします．ネジ穴も3つ付けておいてください(Φ37の円周上)．隣にある基板(layer1)を参考にしてください．
layer2の回路図を開いて，"プロジェクト"→"PCB部品配置"→回路図全体を範囲選択すると，layer2の部品だけをPCB内で移動できるようになるので便利です．

補足
配線幅：電源は0.6mm、その他は0.3mmでお願いします．

[2019-12-23 03:47] tubemerc commented on #8
@Kazu-hub
現状知りたいです．

[2019-12-23 09:39] Kazu-hub commented on #8
現状stm32で動作確認できるプログラムは完成してないです…
大室さんから引き継いだarduinoのプログラムをもとにmbedのi2cリファレンスとか見ながら書いてます.

[2019-12-23 10:04] shoji-kota commented on #51
了解しました。今夜から作業を始めたいと思います

[2019-12-26 05:44] tubemerc commented on #51
layer2PCB受け取ったので確認します．
ぱっと見で修正する必要がある場所（こちらでやっておきます）．
- 直角配線
    - やめましょう．（https://www.noise-counterplan.com/article/14965176.html）
- GND配線
    - ベタGNDに落とすので配線しなくていいです．
- writing_2_3のSWDIOの配線ができない
    - マイコン側のポート名が間違ってました（すいません）．
- 9軸センサは中心に配置する
    - 値を正確に取るため（機軸まわりの回転）．言い忘れてました．
- 電源EHコネクタは裏側に配置する．
    - 電源基板が下にあるので．言い忘れてました．

[2019-12-26 06:51] tubemerc commented on #51
追記
- パスコンはマイコンの各VDDピンの近くに置くので、回路図と照らし合わせて配置する（3.3Vとコンデンサが繋がっていればよいということではない）．
    - コンデンサに限らず，抵抗もセンサの遠くに配置されていることがあった．これは近くに置くことが必須ではないが，遠くする意味もないので近くに配置する．
- 無意味な表⇔裏の移動（ビア）．
    - センサのピンは表からでも裏からでも繋げることを意識するとよい．
- 配線が幅0.6なのにビアがΦ0.3だと小さすぎるので，Φ0.6にする．

[2019-12-26 09:41] shoji-kota commented on #51
了解しました。指摘ありがとうございます。

[2019-12-26 17:59] Yukuro commented on #45
### 進捗
- 現状ではカメラ x1を搭載予定
- 3Dプリンターでケースを作り、カメラ、VTX、Lipoバッテリー、アンテナを詰め込んで防水加工する
- 機材がなかなか揃わないので、VTXの動作試験が未だに行えていない(12/27に全て届く予定)
- リポの選定で迷っている(下記参照)
  - 現状では案4で行く気でいる
    - @tubemerc 何か意見をください
#### Lipoバッテリーの選定について
  - VTX + カメラの消費電力は最大4+0.275W(VTXが600mWで駆動時)
  - 動作保証時間は[ここ](https://github.com/core-rocket/momotarou/issues/50#issuecomment-568149768)より6h
<br/>

##### 案1: 6h通してバッテリー駆動
  - 6hかつ4.275Whでのバ

[2019-12-26 22:05] tubemerc commented on #45
案1、重くなっても問題無いので、アリ．
具体的なバッテリの重量と金額分かる？（金額は案4の場合も知りたい）
NFC使えるのおもろい（やらないけど）．

[2019-12-27 09:54] Yukuro commented on #45
- 案1候補
  - 4cell
    - [G5 50Cmax 4S 2100mAh 4.2V-Max LiPo](https://www.aircraft-japan.com/ja/p2620889-hp-g550-2100s4)
      - 容量: 2100 [mAh]
      - 重量: 203 [g]
      - 金額: ￥3080
    - [G5 70Cmax 4S 1800mAh 4.2V-Max LiPo](https://www.aircraft-japan.com/ja/p2621609-hp-g570-1800s4-14348)
      - 容量: 1800 [mAh]
      - 重量: 168 [g]
      - 金額: ￥2980
  - 3cell
    - [PowerMagic-LW 11.1V 2700mAh](https

[2019-12-27 10:21] tubemerc commented on #9
コンプレッサーを使って試験した．[結果](https://donbrakkoko-skkokoko.slack.com/archives/CLGQNFN4T/p1577441307050700?thread_ts=1577434838.049400&cid=CLGQNFN4T)．

[2019-12-27 10:22] tubemerc commented on #9
圧力センサを絶対圧のモノに変更します．
https://www.mouser.jp/ProductDetail/Honeywell/PX2AN1XX01KPAAAX?qs=sGAEpiMZZMvhQj7WZhFIAED7w%2F12p2LVoBtgVBFscYpZrYnWqCQdMw%3D%3D

[2019-12-27 13:45] Yukuro commented on #45
今のところは案1候補最上部の[G5 50Cmax 4S 2100mAh 4.2V-Max LiPo](https://www.aircraft-japan.com/ja/p2620889-hp-g550-2100s4)を想定してケース製作等を進めます

[2019-12-27 14:46] tubemerc commented on #45
了解です．

[2019-12-28 04:26] tubemerc opened #52 "CANについて（計測データの扱いについて）"
### CAN ID 確定版→[can.md(CANの通信仕様について)](https://github.com/core-rocket/momotarou/blob/develop/docs/can.md)

CANbusに流すとき、どのような形で送ればよいか決めたい．IDも決める．
GPSで緯度経度に加えて経過時間や衛星数も流すか，9軸は角速度を角度やクォータニオンに変換してを流すのか……なども決めたい．
過去のプロジェクトはこうでしたなどあれば言ってください．

現状，
- CANbusに流すだけ
    - GPS
    - 気圧
    - 9軸
    - 燃圧
    - 対気速度
- CANbusから受け取って
    - マイコン①
        - 無線(920MHz)で送信．
    - マイコン②
        - 無線(2.4GHz)で送信．
    - マ

[2019-12-28 10:48] sksat commented on #52
ASAHIのTWE-Liteでは[こんなかんじ](https://github.com/core-rocket/ASAHI/blob/master/telemetry.md)にID付けてやってました．

[2019-12-28 15:23] tubemerc commented on #44
ダブルチェック完了．

[2019-12-28 15:23] #44 closed, assigned to haru-11, tubemerc, omuro-kairi, shoji-kota

[2019-12-28 18:21] Yukuro commented on #45
サイズ的に厳しかったので案1,2段目の[G5 70Cmax 4S 1800mAh 4.2V-Max LiPo](https://www.aircraft-japan.com/ja/p2621609-hp-g570-1800s4-14348)に変更します

[2019-12-29 09:37] tubemerc commented on #51
発注完了．

[2019-12-29 09:37] #51 closed, assigned to tubemerc, omuro-kairi, shoji-kota

[2020-01-05 05:13] Yukuro commented on #45
![DSC_1373](https://user-images.githubusercontent.com/15343476/71775519-5d622f80-2fc5-11ea-99c2-7aa4e1cefa68.JPG)
映りました
が、25mW時でも結構熱を持つので冷却ファンは必須な気がしました

[2020-01-05 09:37] tubemerc opened #53 "審査書を倒す"
- [x] 1次審査書
    - https://drive.google.com/open?id=1wVYi7CYOEEinF2py2ivHQyszldoyTDdm
- [x] 2次審査書
    - https://drive.google.com/open?id=16oDmfx7VLvw_PeBiIRSVXodYiS02gonH
- [ ] 個別審査書
    - .

[2020-01-05 09:40] tubemerc commented on #53
みんなで穴埋めしていこう＾＾ｂ

[2020-01-09 08:28] Yukuro commented on #53
Github上では↑のコメントを編集できなかったのでCOREWiki上に移設しました
https://wiki.corerocket.net/議事録/2019/どんぶらこ/電装_審査書
＆
周波数に関する穴埋めをしました

[2020-01-09 10:58] tubemerc commented on #53
電源に関して記述しました(COREwiki内で)

[2020-01-10 02:51] tubemerc commented on #53
無線のチャンネル書きましたが、適当です．6が好きなので，
- ES920：6ch（ARIB：29）
- TWE-Lite：16ch

[2020-01-10 03:43] tubemerc commented on #50
以下に決定．

| 電源種別 | 供給箇所 | 電源[V] | 容量[mAh] | 個数[個] |
| :----: | ----: | ----: | ----: | ----: |
| Li-Poバッテリ | メイン電装 | 3.7 | 2000 | 4 |
| Li-Poバッテリ | ロガー電装 | 3.7 | 860 | 2 |
| Li-Poバッテリ | ノーズ電装 | 3.7 | 400 | 2 |
| Li-Poバッテリ | カメラ電装 | 14.8(4S) | 1800 | 1 |
| Li-Poバッテリ | バルブ電装 | 3.7 | 400 | 2 |
| Li-Poバッテリ | バルブ電装 | 3.7 | 150 | 3 |
| Li-Poバッテリ | アクチュエータ | 3.7 | 400 | 2 |

[2020-01-10 03:43] #50 closed, assigned to tubemerc

[2020-01-10 03:44] tubemerc commented on #37
@sk2sat 無線動かしたりした？

[2020-01-10 05:31] sksat commented on #37
課題溜め込んでて死んでました．mbed-cli倒したのでやります

[2020-01-10 06:03] sksat commented on #37
トワが生きているのか分からん太郎になっています(インタラクティブモード入れず
最近買ったUSBシリアル変換がパチモンだった可能性もあるので夜また見てみます

[2020-01-10 13:17] tubemerc commented on #37
り！
新しいTWE-Lite買ったので，日曜来れるならそれ使ってみてください

[2020-01-12 16:29] sksat commented on #37
気が付いたらアキバに居て，気が付いたらトワ買ってたのでやっていきをします

[2020-01-15 07:42] sksat commented on #37
色々確認してやり直したら3個(借りた2個+個人で購入)とも壊れてませんでした．すみません．

[2020-01-15 11:30] sksat commented on #37
僕のライブラリを使ってSTM32からTWE-Liteが扱えることを確認しました(書式モードバイナリ形式・簡易形式で文字列を送信し応答メッセージが帰ってくるきた)．
ただ，何故かTWE-Liteへのアプリ書き込みができない病になっているので実際の通信試験はできていません．

[2020-01-16 08:29] sksat commented on #37
TWE-Liteのファームウェア書き込みできたので進捗していきます

[2020-01-16 13:26] sksat commented on #37
STM32から別のTWE-Liteへのデータ送信ができることを確認しました

[2020-01-16 14:36] sksat commented on #52
時刻同期する必要がある気がしてきました

[2020-01-17 07:52] tubemerc commented on #37
あざ～～～～！！！！
ES920の方もよろしくお願いします！！

[2020-01-17 08:10] tubemerc commented on #52
CANでやり取りするためにってこと？それとも，後でデータを検証するためにってこと？

[2020-01-17 12:08] sksat commented on #52
後者です．

[2020-01-18 05:09] tubemerc commented on #28
なんでロガーに載せるの加速度と9軸なんだろ……
気圧センサもあっていいのに

[2020-01-18 05:13] tubemerc commented on #28
<言い訳>
- 気圧センサ（高度）はES920で確実にダウンリンクしようとしているが，姿勢角はTWE-Liteでダウンリンクする．確実なデータ回収のために，加速度・9軸センサをロガーとして搭載する．
- 加速度・9軸センサは高いサンプリングレートで欲しい（気圧も欲しいだろ）．

[2020-01-18 05:22] sksat commented on #28
このロガーってCAN繋がってないんです？

[2020-01-18 05:24] tubemerc commented on #28
ロガーは独立してる（電源含めて）

[2020-01-18 05:24] sksat commented on #28
naruhodo

[2020-01-18 05:29] tubemerc commented on #28
対気・燃圧・姿勢・気圧はメインの電装でCANに流して，SDcard用のマイコンで保存する（EEPROM用のマイコンも使える） #35

[2020-01-18 05:36] sksat commented on #28
データ保存の冗長化のためのロガー了解．まあでも確かに気圧欲しいな...

[2020-01-18 05:58] tubemerc commented on #28
基板再発注時に足せたら足す！

[2020-01-19 05:58] tubemerc commented on #38
地上局、4つ要る．
- ES920(ロケット)
- TWE-Lite RED(ロケット)
- Tramp-HV(カメラ)
- TWE-Lite BLUE(ロードセル)

[2020-01-19 06:00] tubemerc commented on #33
- [つよいロードセル,200kg](https://www.amazon.co.jp/HURRISE-%E9%AB%98%E7%B2%BE%E5%BA%A6%E3%83%93%E3%83%BC%E3%83%A0%E3%83%AD%E3%83%BC%E3%83%89%E3%82%BB%E3%83%AB%E3%82%BB%E3%83%B3%E3%82%B5%E3%83%BC%E3%80%81%E3%82%A2%E3%83%AB%E3%83%9F%E3%83%8B%E3%82%A6%E3%83%A0%E5%90%88%E9%87%91%E4%B8%A6%E5%88%97%E5%8A%A0%E9%87%8D%E3%82%BB%E3%83%B3%E3%82%B5%E3%83%BC-PSD-X2-range-200kg/dp/B082PY72XL/ref=sr_1_21?__mk_ja_JP=%E3

[2020-01-19 06:17] tubemerc commented on #8
1/23にMPXV5050DPを動かす、 @Kazu-hub と共に
OR 今日

[2020-01-19 07:53] Kazu-hub commented on #8
arduinoで動かしてるやつ
https://github.com/rakibul-eeekuet/Pressure-Sensor-MPXV5050DP/blob/master/pressure_Sensor.ino

[2020-01-19 11:13] tubemerc commented on #8
MPXV5050DP
それなりの値がでることを確認．
速度が妥当かどうかは要検証

[2020-01-19 11:30] haru-11 commented on #28
＋気圧センサ
＋EEPROM✕TBD
ーFlashメモリ

[2020-01-19 11:53] tubemerc opened #54 "基板再発注"
再発注する基板
- [ ] ノーズ基板
- [ ] ロガー基板

[2020-01-19 11:58] tubemerc opened #55 "通信距離試験"
- 日程：2020/02/08
- 場所：浅川
- 目的：無線機の通信可能距離が十分であることを確認する．
    - 距離：1[km]（これは妥当か？到達高度：2843）
- その他
    - ES920とトワは一緒にやる．
    - Tramp-HVは黒澤と都合が合えば．

[2020-01-19 12:00] tubemerc commented on #55
暫定浅川なので，日曜に集まった時に数人or平日に首都大生でやる．

[2020-01-19 12:03] tubemerc opened #56 "ロングラン試験"
- 日程：2020/02/15
- 場所：日野C
- 目的：搭載電源・保証動作時間が妥当であることを確認する．
- その他
    - 大島はメチャ寒いので，ロングラン試験も寒い場所でやる必要がある？

[2020-01-19 12:06] tubemerc opened #57 "離床判定試験"
- 日程：2020/02/13
- 場所：日野C
- 目的：離床判定条件が妥当であることを確認する．
- 内容
    - フライトピンを抜く．（切る？）
    - 加速度．

[2020-01-19 12:07] tubemerc opened #58 "開放判定試験"
- 日程：2020/02/13
- 場所：日野C
- 目的：開放判定条件が妥当であることを確認する．
- 内容
    - 気圧．
    - タイマー．

[2020-01-20 04:20] tubemerc commented on #8
動作確認完了．
71e1c1344af5

[2020-01-20 04:20] #8 closed

[2020-01-20 04:22] tubemerc commented on #40
使うのをやめる．
ロガー記憶媒体はEEPROMとSDcardにする．

[2020-01-20 04:22] #40 closed, assigned to haru-11

[2020-01-20 13:16] tubemerc commented on #52
CANの統合試験するために暫定でID割り振ります．プログラム書いたら埋めてく．
とりあえず↓のデータをCANに送る．
- char senddata[5]

| senddata[0]~[3] | senddata[4] |
| ---------- | -------- |
| 送りたいデータ(float->char) | データ種類を表す文字 |

- char senddata[13] (9軸センサ)

| senddata[0]~[3] | senddata[4]~[7] | senddata[8]~[11] | senddata[12] |
| ---------- | -------- | -------- | -------- |
| x成分 | y成分 | z成分 | データ種類を表す文字 |

- ID割り振り

| 該当センサ | データ種類 | 文字 | ID |
|

[2020-01-20 13:29] sksat commented on #52
暫定なので関係ないですけど，そういえばCANってID低い方が優先度高いとかあった気がするんですが把握してます？

[2020-01-20 13:32] tubemerc commented on #52
把握していた時期もありました……IDは後で調整します！

[2020-01-23 09:34] tubemerc commented on #28
各マイコン毎に（9軸・加速度・気圧）、EEPROM2つ、SDカード1つ欲しいんだっけ？

[2020-01-24 03:49] tubemerc commented on #28
以下になると嬉しいなぁ（基板面積的に）
- マイコン_1
    - 9軸，加速度
    - EEPROM * 1，SDカード * 1
- マイコン_2
    - 気圧
    - EEPROM * 1，SDカード * 1

[2020-01-26 03:48] tubemerc commented on #28
EEPROMを表面実装にしたら、マイコン3つ+各マイコンにSDカード1つ&EEPROM2つにできそうなので、そうします．

[2020-01-26 04:11] haru-11 commented on #28
今ちょっと計算したら、ロガーEEPROM乗っけても意味ないかも。つまりいらない

[2020-01-26 04:13] tubemerc commented on #28
SDのみでよいってこと？うれしすぎ

[2020-01-26 04:14] haru-11 commented on #28
そう。もし面積がめっちゃ余って作る時間余裕あったら、EMみたいにフラッシュメモリのパッドだけ作ってくれると嬉しい

[2020-01-26 11:21] tubemerc commented on #52
https://github.com/core-rocket/momotarou/issues/52#issuecomment-576269864 の通りにID・文字を設定し，各受信側のマイコンで指定したIDのデータを受信できていることを確認（ID0x01を除く，手元になかったので）．

[2020-01-30 16:48] Yukuro commented on #45
### 5.6 GHz帯法規メモ

(以下の内容は総務省(関東総合通信局)の人に聞いたので間違いはなさそう)
1. `ドローン 無線`で検索して上の方に出てくる[総務省のページ](https://www.tele.soumu.go.jp/j/sys/others/drone/)は業務用(一次業務)のことなので、今回行うアマチュア無線(二次業務)はあまり関係がない
    - よって、外部機関での運用調整とかはしなくてokだし、3陸特の免許は必要ない
    - が、使用予定の5740 MHzは無人移動体画像伝送システム(一次業務)に割当てられているので、近くで一次業務で使っている人がいたら優先しなければならない

2. アマチュア無線/移動局の免許状の移動範囲欄にある「陸上、海上及び上空」の「上空」は電波法上は特段、具体的に高度~mまでとかは無い

[2020-02-01 13:23] Yukuro commented on #38
結局のところ、地上局は何基設置しますか?(地上局の数だけ地上に設置する三脚の数が増えると思うので)

[2020-02-01 14:19] tubemerc commented on #38
ロードセルの無線機は射点との通信なので三脚はいらないので，地上局は**3基** ．
としたいのですが，3000円の三脚3つは高いので，誰かのを借りるか安いのを買いたい．
1つの三脚に3つの無線機載せても問題ないのであればそれでいきたい……

[2020-02-01 14:21] haru-11 commented on #38
俺も3脚一つ持ってるから出せる。

[2020-02-01 14:26] tubemerc commented on #38
三脚ぐらいなら持ってる人募れば集まるか！
それぞれに合うようにマウント作ってもらって（お願いします）地上局に3つ立てましょう！
で、よいですか

[2020-02-01 14:31] Yukuro commented on #38
よいです
早々に寸法や設置面積等を計測しないとですね

[2020-02-01 14:31] haru-11 commented on #38
いいと思います。
ゆくろとおれと、もう1人
金属加工する必要あればやりますよ
今んとこ3Dプリンターだっけ

2020年2月1日(土) 23:26 tubemerc <notifications@github.com>:

--
-------------------------------------------------------
首都大学東京 システムデザイン学部
航空宇宙システム工学コース 学部1年
指田 春輝 (SASHIDA Haruki)
MAIL1: degmyb.5534g@gmail.com
MAIL2: sashida-haruki@ed.tmu.ac.jp
TEL: 08034110430
-------------------------------------------------------

[2020-02-01 14:49] tubemerc commented on #38
@shoji-kota が持っていけるらしいので，3基集まりました．

[2020-02-02 04:11] tubemerc commented on #9
#30 に移行

[2020-02-02 04:11] #9 closed, assigned to tubemerc

[2020-02-02 04:11] tubemerc commented on #30
- [ ] PX2AN1XX01KPAAAX（絶対圧のヤツ）動かしてみる．
- [ ] コネクター作る．

[2020-02-02 04:12] tubemerc commented on #12
#37 に移行

[2020-02-02 04:12] #12 closed, assigned to sksat

[2020-02-02 04:14] tubemerc commented on #54
1/30に発注してました．

[2020-02-02 04:14] #54 closed, assigned to tubemerc

[2020-02-02 04:39] tubemerc commented on #33
200kgのロードセルって届いた？

[2020-02-02 04:41] omuro-kairi commented on #33
届いてます、今日持ってきます

[2020-02-02 05:22] tubemerc opened #60 "コネクタを作る"
- コネクタを作る

| 完成 | 種別 | ピン数 | 長さ[mm] | 配色（基本左が黒） | 多芯 |
| ---------- | -------- | -------- | -------- | -------- | -------- |
| x | CAN(1-2) | 3 | 40 | 黒白赤 | - |
| x | CAN(1-nose) | 3 | 900 | 黒白赤 | x |
|  | 電源(1-power) | 2 | 200 | 黒赤 | - |
|  | 電源(2-power) | 2 | 200 | 黒赤 | - |
| x | 電磁弁 | 2 | 400 | 黒白 | x |
| x | 燃圧_1 | 3 | 500 | 黒白赤 | x |
| x | 燃圧_2 | 3 | 1500 | 黒白赤 | x |
| x | バルブ電装 | 3 | 1000? |

[2020-02-02 05:23] tubemerc commented on #53
とりあえず1次審査書完了です．お疲れ様です．

[2020-02-02 05:28] tubemerc commented on #39
なんだこれ？

[2020-02-02 05:44] tubemerc commented on #31
何をCANに送るか？候補
- [x] 緯度・経度
- [x] 時刻
- [ ] 位置特定品質
- [ ] 使用衛星数

[2020-02-02 05:53] tubemerc commented on #29
- 現在の計算式
C√(2*P/ρ)
C：補正係数
P：動圧（入力電圧を変換した値）[kPa]
ρ：流体密度

補正係数は実験によって用いられるが、規格寸法に則り製作された標準ピトー管ではこの係数が1になるように設計されており、考慮する必要がない場合も多い。（[wikipedia](https://ja.wikipedia.org/wiki/ピトー管)）

[2020-02-02 05:57] tubemerc commented on #29
71e1c1344af59d89582709cba20c82347b1c45cc で流体密度1.1834[kg/m^3]にしてるのどっから持ってきたんだ？

[2020-02-02 06:31] Kazu-hub commented on #29
空気密度の式　air_density = 1.293/(1+0.00367*temperature)に実験したときの気温25度を代入したものなので、実際に使うときは2月大島の平均気温7.4度か実測値を使ったほうがいいと思います。

[2020-02-02 06:42] sksat commented on #29
大気密度や気温，高度で結構変わるのでそれを考慮する必要があると思います．

[2020-02-02 06:44] tubemerc commented on #29
それなんすよね～～
気圧センサとの情報と合わせるのアリよね

[2020-02-02 06:44] sksat commented on #31
時刻は欲しいです．絶対時刻が取れるので．

[2020-02-02 06:49] sksat commented on #29
せっかくCAN使ってるのでかなりアリだと思います．

[2020-02-02 06:54] sksat commented on #29
あ，そうかピトー管って動圧が取れてそこから対気速度出すのか．シミュの検証したさがあるのでむしろ生の動圧も欲しいかも

[2020-02-02 10:45] tubemerc commented on #55
@sk2sat
これやりたいので、2/7までにES920が日野にある状態にしたいんですが、来れますか？
今日野にあるES920が壊れてなければ来れなくても大丈夫ですが……(木曜までに確認します)

[2020-02-02 10:48] sksat commented on #55
明日研究室での発表が終わったら春休みなので，2/7までに日野に行くのも浅川に行くのも可能太郎です

[2020-02-02 10:53] tubemerc commented on #55
やった〜〜〜〜〜〜〜〜！！！！
2/8に来れる自信があれば当日でもいいんですが、自身がなければ一度来てください！！！！
金曜日以外は僕が日野にいます、たぶん

[2020-02-02 10:56] tubemerc commented on #52
時刻同期

[2020-02-02 11:03] tubemerc commented on #38
地上局1基ずつしか用意しないのは……バカ……？
予算と相談して、受信側の無線機を増やすのはアリ

[2020-02-04 05:01] tubemerc commented on #60
多芯ケーブル選定しました．
- VCTF 3X0.3SQ-7
https://jp.misumi-ec.com/vona2/detail/222000357135/?ProductCode=VCTF 3X0.3SQ-7
- VCTF 2X0.3SQ-3
https://jp.misumi-ec.com/vona2/detail/222000357135/?ProductCode=VCTF 2X0.3SQ-3

@shoji-kota と @Kazu-hub は表の多芯ｹｰﾌﾞﾙにxがついてるヤツはケーブル届いてからお願いします．
xがついてないヤツもケーブル購入したら頼みます．

[2020-02-04 08:39] tubemerc commented on #52
- 100kbpsだとデータの欠損無し．
- 1Mbpsで通信させたらデータの欠損があった．
    - ちょうどいい値を探す．
- ノーズまでのケーブル長が800[mm]なので長いケーブルでも試験する．

[2020-02-06 05:32] tubemerc commented on #53
- 無線型番ES920 -> ES920LR

[2020-02-06 06:02] tubemerc commented on #55
直線距離で約2.5[km]稼げてすごい（ただし線路を2本挟む）

![2020-02-06 15 01 22 www google co jp b385fdc77175](https://user-images.githubusercontent.com/54838270/73910065-973e9280-48f1-11ea-9e94-7fc224269ca6.png)

[2020-02-06 06:03] tubemerc commented on #60
ユクロとぐんまちゃんに材料買ってもらいました．

[2020-02-06 07:06] tubemerc commented on #52
| 通信速度 |
| ---------- |
| 1Mbps |

- データ優先度

| 該当センサ | データ種類 | 文字 | 送信ID |
| ---------- | -------- | -------- | -------- |
|  | ｺﾏﾝﾄﾞ |  | 0x01 |
|  | ｴﾗｰ |  | 0x02 |
| 気圧 | 気圧 |  | 0x03 |
| 9軸 | 加速度ノルム |  | 0x04 |
| GPS | 緯度・経度・時間 | 'a', 'o', 't' | 0x05 |
|  | ﾌｪｰｽﾞ |  | 0x06 |
| 9軸 | 加速度 | 'x', 'y', 'z' | 0x07 |
| 9軸 | 角速度 | 'x', 'y', 'z' | 0x08 |
| 燃圧 | 圧力 |  | 0x09 |
| 差圧 | 動圧 |  | 0xA |
| 気圧

[2020-02-06 07:18] tubemerc commented on #52
CAN.h
https://os.mbed.com/docs/mbed-os/v5.12/mbed-os-api-doxy/_c_a_n_8h_source.html

[2020-02-06 07:21] sksat commented on #52
無線コマンド用のIDも必要だと思います

[2020-02-06 10:25] tubemerc commented on #31
GPSのボーレートが変えられるようになったぞ！（うれしい）
sksat（旧（あたまがいい））の能代のライブラリ使うぞ！（がんばれ）

[2020-02-07 12:15] tubemerc commented on #55
①浅川に行く．
②1人が自転車に無線を載せて走る．
③残った人が受信する．
③1km離れても無線が届く．
④うれしい．

という流れで行います．
使用する無線機は
- Tramp-HV
- TWE-Lite RED
- TWE-Lite BLUE
- ES920LR

です．

[2020-02-07 12:21] tubemerc commented on #55
無線機をブレボに載せるか基板に載せるか悩み中です
基板ですぐ動かなかったらブレボでやります

[2020-02-08 03:08] tubemerc commented on #37
EASEL松本「報告頂いた事象ですが、モジュールの起動時に発生しないでしょうか？モジュール起動時はブートローダが動作しており、リセット解除後2秒間はUARTにデータ入力を行わない状況を作って頂きたいです。」

[2020-02-08 03:46] sksat commented on #37
これすき(きらい)

[2020-02-08 09:24] tubemerc commented on #33
大事なヤツmemo(温度は大丈夫だろ！)：

| 特性 | 値 | これは何？ |
| ---------- | -------- | -------- |
| 定格容量 | 200[kg] |  |
| 定格出力 | 1.989[mV/V] | 定格出力*定格電圧=定格容量時の出力 |
| ゼロバランス | ±1.5[%F.S] | 無負荷時に定格電圧をかけたときの出力 |
| 推奨印加電圧 | 9~12[V] |  |
| 絶対印加電圧 | 5~18[V] |  |
| 許容負荷 | 120[%F.S] |  |
| 絶対許容負荷 | 150[%F.S] |  |

負荷200[kg], 印加12[V] -> 出力23.868[mV]
負荷1[kg], 印加12[V] -> 0.11934[mV]

[2020-02-08 09:38] sksat commented on #36
どういうフェーズ・コマンドがあるか，どんなCANのメッセージがあってどうフェーズ移行が発生するかがまとまってると→→→うれしい！！！　と思います

[2020-02-08 10:18] sksat commented on #36
ゆるふわ図できた
![](https://i.imgur.com/S9DRBco.jpg)

[2020-02-08 10:34] tubemerc commented on #52
優先
①判定など
ｺﾏﾝﾄﾞ，ｴﾗｰ，気圧，加速度，ﾌｪｰｽﾞ
②捜索と時刻
緯度・経度，時刻
③ミッション
角速度，地磁気，圧力，動圧，温度

IDを減らそうキャンペーン
- GPS ID一緒
- 角速度・地磁気 ID一緒

[2020-02-08 10:35] tubemerc commented on #58
ソレノイド動かすぞ！

[2020-02-08 14:26] tubemerc commented on #30
2/23の燃焼試験で使うのでそれまでに完成させろ！

[2020-02-08 14:50] tubemerc commented on #33
ひずみゲージアンプで増幅させるのがよさそうだけど、高い……自作か？
↓比較的安いヤツ
- 4900+1900円
    - https://tml.jp/e-gaugeshop/bigin_amp.html

[2020-02-08 15:04] tubemerc commented on #33
@omuro-kairi
Arduino使うんだよね？
analogRead()の分解能->4.9[mV]
https://www.arduino.cc/reference/jp/language/functions/analog-io/analogread/

[2020-02-08 15:14] tubemerc commented on #33
HX711に5.5V入れて繋いでも計測はできるはず……（推奨ではない……）

[2020-02-08 19:45] tubemerc commented on #52
9軸データこないよ～～><してたら，CANは8バイトまでしか送れないのに13バイト送ってることに気が付きました，アホすぎる（今まで遅れてる感じの挙動してたの何？）
x,y,z成分があるヤツは"x""y""z"の文字付けて1つずつ送ります……

[2020-02-08 19:47] sksat commented on #52
CANが8byteまでしか送れんの僕も忘れてたあ　壁にでっかく書いておきましょう

[2020-02-08 20:01] tubemerc commented on #52
- 1kbpsでID7つ(内4つは3種のデータを送る)で通信すると，4つ目のIDから受け取れなかった．
- 1Mbpsで同じ条件でやると一番優先度が低いIDでも受け取れる．
    - 受信した全IDをシリアルで羅列すると漏れがあるが，特定のIDだけ表示するようにしたら確認できる．
    - 1Mbpsで欠損があったのもバイト数の問題だった感じがするので，使えそうでうれしい．

[2020-02-08 22:31] omuro-kairi commented on #33
そう思ってたんですがプロジェクト内でnucleo使ってるのでその系統の方が助け得やすいと思いまして、今はnucleo系統で設計しています

[2020-02-09 06:23] tubemerc commented on #36
CAN受信しながらhttps://github.com/core-rocket/momotarou/issues/36#issuecomment-583723235 を行うプログラム書いてくれる人誰かいないかな～～＾＾

[2020-02-09 07:23] tubemerc commented on #33
PSD-X2 range 200kg

- scale = 1.0
- times = 10
- 出力 = 取得値/100.0

| 荷重[g] | 出力[-] | [g]/[-] |
| ---------- | -------- | -------- |
| 156 | 34.04484 | 4.58219 |
| 611 | 133.37945 | 4.58091 |
| 1321 | 288.26030 | 4.58266 |
| 2291 | 500.06500 | 4.58140 |

取得した値に0.0458かけたらいい感じの[g]になるんじゃないスカ！

[2020-02-09 07:30] tubemerc commented on #33
- 静止状態で誤差±1[g]もないぐらい（目視）．
- ロードセルに荷重がかかると零点がずれていくのでリセットかける必要アリ．

[2020-02-09 07:35] sksat commented on #36
書いちゃうか〜〜〜〜

[2020-02-09 07:36] tubemerc commented on #36
やった～～～～～～～～～～～～～～～～～～～～～～～～～～～～～

[2020-02-09 08:09] tubemerc commented on #55
ざっくり届いた距離
- ES920 2.5[km]
- トワ赤 500[m]

[2020-02-09 08:13] sksat commented on #55
えっ...わたしのトワ，カスすぎ...！？

[2020-02-09 08:18] sksat commented on #55
あとトワはマ〜ジで間に障害物あると厳しい．ES920LRはかなり届きはするけどこれも遠いとダメな時はダメ．掲げたら復活などがあるのでやっぱり障害物...？

[2020-02-09 08:22] haru-11 commented on #55
Let's go ENOSHIMA！

[2020-02-09 08:25] shoji-kota commented on #55
江ノ島で通信実験やってたら、2時間ほどだったのにも関わらず3回「なにやってるの？」と聞かれた思い出があります。（ビーチで遊んでる人の中をパソコン持ちながら移動してたらそうなりますよね…笑）

[2020-02-09 09:35] tubemerc commented on #52
https://github.com/core-rocket/momotarou/issues/52#issuecomment-582766924
データの優先度はこんな感じかなぁと思います．

[2020-02-09 11:01] tubemerc commented on #58
ソレノイド動かないぞ！

MOSFETが悪い感じがあるので，新しいのを買ってきます，明日．

[2020-02-09 12:22] tubemerc commented on #58
ソレノイド動いたぞ！

ゲートの分圧の抵抗1つ外したら動いたので，入力電圧足りなかったんだなぁという感じです．

[2020-02-09 12:47] sksat commented on #52
加速度・気圧用のマイコンってデータ取得して送るだけですか？(移動平均ぐらいはやる？

[2020-02-09 12:56] sksat commented on #52
移動平均ぐらいセンサ側マイコンでやって下さい(断言)．

[2020-02-09 12:56] tubemerc commented on #52
移動平均ぐらいはやってもいい、やろう
判定に使うやつは移動平均と生のやつどっちも送ってもいいかもね

[2020-02-09 12:57] sksat commented on #52
了解です

[2020-02-09 13:05] tubemerc commented on #58
フライトピン抜いたらソレノイドバルブが動作するプログラム（何それは？）で基板上でも動いたぞ！

[2020-02-09 13:06] sksat commented on #58
天才じゃ〜ん　何それ

[2020-02-09 13:37] sksat opened #61 "無線コマンド決める"
決めます

[2020-02-09 13:39] haru-11 commented on #28
これCAN通信系のロガーもやる？よね？
フェーズとか位置情報とかの保存

[2020-02-09 13:39] sksat commented on #61
- フライトモードON
- アボート(何？)
- 強制開傘
- status要求(要る？)

[2020-02-09 13:41] sksat commented on #28
ロガーってCAN繋がってるんです？

[2020-02-09 13:43] tubemerc commented on #28
issue名が悪かった！
これは独立したロガーのつもりで、メイン電装(CANつながってる方)にもSDカードに保存するマイコンがいます！

[2020-02-09 13:43] haru-11 commented on #28
ロガーというか，保存部．
CANバスにSDとEEPROMがつながってる．

[2020-02-09 13:44] tubemerc commented on #28
CANの方は #35 です
@haru-11 作ってください！

[2020-02-09 13:51] tubemerc commented on #33
ロードセル200kgのヤツ買えないので120kgのやつ(秋月で買える)にも対応できるようにする．（小さくなる分には問題無いらしい）

[2020-02-09 13:53] haru-11 commented on #52
生データは独立ロガーで取ってるし，CNAロガーで取得するのは移動平均データ（つまり判定に使った値）だけでよいのと思う

[2020-02-09 13:58] tubemerc commented on #32
ロケット側で高度出す？地上局でやる？
(このissue作ったときは気圧計のマイコンで高度まで出してCANで送信するつもりだった)

[2020-02-09 14:01] tubemerc commented on #34
ロケット側で姿勢角出す？地上局でやる？
(このissue作ったときは9軸のマイコンで姿勢角まで出してCANで送信するつもりだった)

[2020-02-09 14:04] sksat commented on #34
姿勢角は連続したデータが無いと正確に出せないので，ロケット側で出すか回収後に出すかの2択だと思います

[2020-02-09 14:06] sksat commented on #32
今回開放判定に使うのが高度じゃなくて気圧だけなので，必要は無いと思います．
高度は地上局でも気温気圧がちゃんとダウンリンクできれば出せますし

[2020-02-09 15:34] tubemerc commented on #34
間違えて閉じたぁ
姿勢角は9軸のマイコンで出すことにします！

[2020-02-09 15:35] tubemerc commented on #32
気圧送るだけにします

[2020-02-09 16:21] sksat commented on #36
フライトピンってどのSTMに繋がってるんですか？

[2020-02-09 16:33] tubemerc commented on #36
開放判定を行うマイコン！

[2020-02-09 16:38] sksat commented on #36
やった〜〜〜〜

[2020-02-10 04:39] tubemerc commented on #58
試験にES920LRが必要，部室にあるヤツ動作試験する
動く-> プログラムさえあればよい
動かない -> sksatがES920LR持ってくる

[2020-02-10 04:44] tubemerc commented on #36
判定を行うマイコンにLEDが2つ（PB_4とPB_5）付いてるので，状態が分かると嬉しい
総員退避してからは見れないので，standby・flightの確認か，地上試験で使う

[2020-02-10 07:19] tubemerc commented on #52
- 一部のノードが切断されても，繋がってるノードからは受信し続けていることを確認．
- ノードを再度接続したら，接続したノードから再び受信できることを確認．

しました．

[2020-02-10 09:20] tubemerc commented on #36
- 開放判定
    - 気圧センサから取得した気圧値の5回移動平均が5回連続で1つ前の平均値より大きいことを確認する．

脳死で5回連続にしたけど，緩すぎる感じがある（静止してても満たす）．
気圧センサの値見た感じ，10回連続ぐらいが妥当？開放判定試験で要検証．

[2020-02-10 12:07] tubemerc commented on #30
"[これ](https://www.mouser.jp/ProductDetail/Aptiv-formerly-Delphi/12110192?qs=JdmRl75CwToVcuEd41g61Q%3D%3D)"まさかのガワだけ．
VHコネクタのコンタクトを無理やりはめ込むという説．

[2020-02-10 12:11] haru-11 commented on #28
BME280ライブラリのstandby timeが1000msなのに注意

[2020-02-10 12:14] tubemerc commented on #28
BME280.cppの72行目
`cmd[1] = 0xa0; // Standby 1000ms, Filter off`
になってるので，0x00にしたら0.5[ms]になります．
[Datasheet](https://www.mouser.jp/datasheet/2/783/BST-BME280-DS002-1509607.pdf)の5.4.6節．

[2020-02-10 12:17] tubemerc commented on #61
statusってフェーズとかエラー？
なら要求されなくても送って欲しい

[2020-02-10 12:18] sksat commented on #61
デフォで送るのとは別になんか要求したらドチャッとデータ降ってきてもいいかな〜〜〜とか一瞬思ったんですけど，要らんな

[2020-02-10 12:45] tubemerc commented on #29
対気速度を計算するのは地上局？
動圧・温度・気圧から計算．ただし，温度はロケット内部の温度なので微妙．

[2020-02-11 05:34] tubemerc commented on #56
2/13にLiPoを充電しろ！

[2020-02-11 10:08] tubemerc commented on #55
ロケット->地上局の試験はしたけど，地上局からのコマンド->ロケットの試験するの完全に忘れてたぁ！

[2020-02-11 10:15] tubemerc commented on #53
2次審査書も倒していきます．
体裁は最後に整えます．
https://drive.google.com/open?id=16oDmfx7VLvw_PeBiIRSVXodYiS02gonH

[2020-02-11 11:52] tubemerc commented on #58
@sk2sat
2/13に日野来れますか！？（2/12でもよい）
部室にあったES920LRが微妙（"￤馞"としか応答してくれない）なので，無線機が欲しいです．

[2020-02-11 14:10] sksat commented on #58
同人誌の修羅場が終わり，sksat，再来

[2020-02-11 14:11] sksat commented on #58
2/13可です

[2020-02-11 14:12] sksat commented on #55
ACKは送り合ってただろうし，いけるやろ　みつを

[2020-02-12 05:03] tubemerc commented on #34
@haru-11
地面と水平な状態のMPU9250の加速度ってどんな風に取れてた？
(x,y,z)=(0,0,1)だと思ってたんだけど，(0.000478,-0.007416,-0.005073)≒(0,0,0)みたいな値が出る

[2020-02-12 07:44] tubemerc commented on #60
一部のコネクタの片側完了．
長さ確定次第完成．
@shoji-kota  @Kazu-hub 感謝……！

[2020-02-12 10:10] tubemerc commented on #52
各センサのCAN送信IDを https://github.com/core-rocket/momotarou/issues/52#issuecomment-582766924 にした
9軸と気圧は5回移動平均をとるようにした

残り
- ES920（ダウンリンク系①）
- TWE-Lite RED（ダウンリンク系②）
- microSDカード（保存系）
- EEPROM（フェーズ判定系）

[2020-02-12 11:42] tubemerc commented on #34
https://github.com/core-rocket/momotarou/issues/34#issuecomment-585031061
解決してました．普通にプログラム間違ってました．

[2020-02-12 12:45] tubemerc commented on #60
![配線図概要](https://user-images.githubusercontent.com/54838270/74336058-ec424300-4de0-11ea-946d-cddc7945d2ce.png)

[2020-02-12 13:27] tubemerc commented on #60
中継コネクタはSMコネクタ にします．
- [SMR-03V-B【2.5mm】SMコネクタ リセプタクルハウジング 3P](https://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=EEHD-0GZX)
- [BYM-001T-P0.6【2.5mm】RCYコネクタ リセプタクルハウジング用ピンコンタクトピン](https://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=EEHD-074B)
- [SMP-03V-BC【2.5mm】SMコネクタ プラグハウジング 3P](https://www.sengoku.co.jp/mod/sgk_cart/detail.php?code=EEHD-0H33)
- [BHF-001T-0.8BS【2.5mm】SM/NHコネクタ兼用 プラグハウジング用ソ

[2020-02-13 03:49] tubemerc opened #64 "物品チェックリスト"
- vs現地審査
    - [ ] 防火ケース（Li-Poバッグ）
    - [ ] 水（射点で汲む）
    - [ ] 食塩
    - [ ] 絶縁体の容器
    - [ ] 消火器（KLD-3）
    - [ ] 無線従事者免許証
    - [ ] 無線局免許状

[2020-02-13 03:51] tubemerc commented on #33
@omuro-kairi 予備の購入

[2020-02-13 04:03] tubemerc commented on #45
- Eachine　1000TVL 1/3 CCD 110度2.8ミリメートルレンズミニFPVカメラNTSC PAL切り替え可能
- DesignSpark カメラレンズ
- Tramp-HV　600mW 5.8GHz Video Transmitter
- G5 70Cmax 4S 1800mAh 4.2V-Max LiPo

の予備ってあるんだっけ？

[2020-02-13 04:14] Yukuro commented on #45
- Eachine　1000TVL 1/3 CCD 110度2.8ミリメートルレンズミニFPVカメラNTSC PAL切り替え可能
  - 予備無し(なるはやで注文します...)
- DesignSpark カメラレンズ
  - Extraに設定してたVR案は廃止したので購入自体なし
- Tramp-HV　600mW 5.8GHz Video Transmitter
  - 予備有り
- G5 70Cmax 4S 1800mAh 4.2V-Max LiPo
  - 予備無し(ロングラン後に購入予定)

[2020-02-13 05:15] omuro-kairi commented on #33
昨日しました、明後日には到着します

[2020-02-13 09:38] tubemerc commented on #60
電源ケーブル -> 電装高さ内訳確定後
フライトピンケーブル -> フライトピン仕様確定してから

[2020-02-13 10:38] sksat commented on #61
離床前にフライトピン抜けてたらエラー

[2020-02-13 11:27] tubemerc commented on #36
EEPROMに書き込みたいヤツら
- フェーズ移行にどの条件使ったか
- 起こったエラー
- フェーズ移行付近の加速度の値
- フェーズ移行付近の気圧の値

[2020-02-13 11:32] tubemerc commented on #61
ES920がCAN送信できなかったエラー
-> 5Vが供給されてない
-> ES920付近のCAN配線が断線した

トワも
他は送信できなかったら死

[2020-02-13 16:15] tubemerc commented on #58
開放判定、コマンドで開放するパターンのヤツのログ取るのわすれてたぁ

[2020-02-14 04:01] tubemerc commented on #57
完了．

[2020-02-14 05:05] tubemerc commented on #53
少し書いた

[2020-02-15 07:04] sksat commented on #61
思ったんですが，組み立てオペレーション時に絶対無線でカパカパ開閉できた方がよいので，そのコマンドも作る

[2020-02-15 07:23] sksat commented on #61
これは安全に関わってきてしまうので :thinking: ですが，離床したことを保証するコマンドみたいなのがあってもいいかもしれない．
ロケットがランチクリアしたことを目視で確認したら送る，みたいなやつ．
開傘がシーケンス的に失敗する可能性がある要因としては離床検知失敗か頂点検知失敗しかなく，頂点検知失敗はCANかセンサが死なないとほとんど無さそうなので，問題は離床検知．
現状はそのために離床検知を(合成加速度3G以上 OR フライトピン)として冗長性を確保しているが，フライトピンが無くなる可能性がありそう(まあ僕もフライトピン反対なんですけど)．
なので，専用のコマンドを作って，(合成加速度3G以上 OR コマンド受信)で離床検知をしてもよいかもと思った．
これの問題点として考えられるのは人間が間違ったタイミングでこのコマンドを送信してしまう可能性があるということ(人間は信用できないので

[2020-02-15 07:25] sksat commented on #61
よく考えたらこれじゃん
https://github.com/core-rocket/momotarou/issues/36#issuecomment-561011724

[2020-02-15 07:27] sksat commented on #36
<s>ToDo: スタンバイフェーズの前に組み立てオペレーション時用のフェーズを作る(自由にカパカパ開閉できる)(ここで使うコマンドはスタンバイ以降無効)</s>

[2020-02-15 07:33] sksat commented on #36
組み立て時フェーズ要らないそうなので，ナシ！！！！！！！！！

[2020-02-15 07:35] tubemerc commented on #61
~~パカパカは電磁弁だよね，お願いします~~ いらないんかーい

離床判定コマンドはアリ
離床判定しなくて開傘しないのは勿体ないのでフライトピンが無くなるなら実装したい
最終判断は月曜日になるけど，今週の日曜日に離床判定の試験をしたい（ﾌﾗｲﾄﾋﾟﾝ無くなったら審査書に書きたいので）

[2020-02-15 07:40] sksat commented on #61
今週の日曜日...もしかして：明日

[2020-02-15 07:44] tubemerc commented on #61
実はそうなんです

[2020-02-15 07:45] sksat commented on #61
衝撃の事実が発覚

[2020-02-15 09:15] tubemerc commented on #57
2/16にコマンドのやつやる

[2020-02-15 09:15] tubemerc commented on #58
2/16にコマンドのやつやる

[2020-02-16 05:11] sksat commented on #61
安全的にどうなの？について
離床確認コマンドでは離床判定は行わないというのはどうか．
実際の判定シーケンスとしては，

- 通常時
  - フライトモード移行→離床判定→開放判定→開放
- 離床判定成功・強制開放コマンド使用時
  - フライトモード移行→離床判定→強制開放コマンド受信→開放
- 離床確認コマンド使用時
  - フライトモード移行→離床確認コマンド受信→冗長シーケンスに移行
- 冗長シーケンス
  - 強制開放コマンド受信→開放

というのを考えています．

[2020-02-16 05:13] sksat commented on #61
これをやる場合，離床確認コマンドというよりはランチクリアを目視で確認したら送るコマンドという方がよいかも？(離床判定失敗してたらランチクリアを目視確認している時点で離床判定失敗してるだろ)

[2020-02-16 05:16] haru-11 commented on #61
強制開放コマンドを使った場合，開傘タイミングが違うことによる構造審査書やシミュ審査書の有効性についてどうするか考えたほうがいいかも．

[2020-02-16 05:18] sksat commented on #61
ア〜〜〜〜〜　でもそれなら今までの"強制開放コマンド"とかはどうしてたんですかね

[2020-02-16 05:46] tubemerc commented on #61
強制開放コマンドもそうだし、気圧かタイマーの違いでも開傘タイミング変わるのに今まで突っ込まれてた記憶がないので、審査書的にはセーフでは(考えないといけないのはそれはそう)

ランチクリアを目視で確認してないのに送信しちゃったを防ぐ何かがほしい
コマンドを送るための工程を増やす、複数人が送信しないと有効にならない。。。。。。

[2020-02-16 05:51] haru-11 commented on #61
気にしてなかったんじゃないかと思うけどなあ．．．運営も我々も
そもそも強制開放コマンドを搭載した実績がそんなに無いと思う

[2020-02-16 05:53] sksat commented on #61
ランチクリア確認受信時はタイムアウトによる開放をしないようにするのでもアリ？

[2020-02-16 05:53] haru-11 commented on #61
複数人でやるのはいいかも．
どこかの無線GSEで，充填確認ボタンを3つ用意して別々の人に持たせて，それが3つともONにならないと点火ボタン押せない．てきな仕組みの団体があった．

[2020-02-16 05:54] sksat commented on #61
バルブ電装までCAN伸ばせればバルブオープンを判断材料の１つにするのもアリ？

[2020-02-16 05:55] sksat commented on #61
複数人もアリではあると思うんですがオペレーション大変そう
＆
何かが起こってアップリンクできる地上局が１つになってしまった...みたいな時なんもできないのでは？

[2020-02-16 05:58] haru-11 commented on #61
`複数人もアリではあると思うんですがオペレーション大変そう
＆
何かが起こってアップリンクできる地上局が１つになってしまった...みたいな時なんもできないのでは？`
それはそう．これやるのはコスト高いよなあ
やるんだったら無線機は一つで，アップリンク地上局に
３つのボタン⇔マイコン的なsomething⇔無線機
　　　　　　　　　↕
　　　　　　　　　PC
的なやつを作ってやるんかなあって気がする．．．

[2020-02-16 06:00] sksat commented on #61
ンゲ〜〜〜〜〜(地上局製作難易度急上昇)

[2020-02-16 06:00] sksat commented on #61
もしかして：やはりラズパイゼロ地上局つくるべきでゎ

[2020-02-16 06:01] tubemerc commented on #61
@Kazu-hub ！？

[2020-02-16 06:01] sksat commented on #61
キタアアアアアアアアアア

[2020-02-16 06:01] haru-11 commented on #61
祭りだワッショイ！

[2020-02-16 06:02] sksat commented on #61
勝ったな...(確信)

[2020-02-16 06:02] tubemerc commented on #61
1ヶ月あれば……十分やろ！

[2020-02-16 06:02] haru-11 commented on #61
え～，増え続ける電装予算について
勝部会計担当大臣，見解をお聞かせください

[2020-02-16 06:02] tubemerc commented on #61
課金しろ

[2020-02-16 06:03] sksat commented on #61
無線ついてなくてええし，https://www.switch-science.com/catalog/3190/
これでええやろ

[2020-02-16 06:04] sksat commented on #61
[takuan517](https://twitter.com/takuan517)が興味を示しています，いま

[2020-02-16 06:05] tubemerc commented on #61
よ　う　こ　そ　。

[2020-02-16 06:06] sksat commented on #61
@takuan517 カモ〜ン

[2020-02-16 06:06] haru-11 commented on #61
やったー◎

[2020-02-16 06:07] sksat commented on #61
ラズパイでロボット作ってたし，いけるやろ

[2020-02-16 07:27] sksat commented on #61
ランチクリア確認コマンド受信時タイマーを無効はアリ了解！！！！！！！！！

[2020-02-16 07:33] tubemerc commented on #61
https://github.com/core-rocket/momotarou/issues/61#issuecomment-586672918
在庫0

[2020-02-16 08:04] sksat commented on #61
かなしい

[2020-02-16 08:50] sksat commented on #61
アップリンク開傘・離床判定をシミュ担当に見せたらキレる，それはそう(僕も嫌なので)．
なので，折衷案として強制開放コマンド無し・ランチクリア確認コマンドでタイムアウト開傘を無効化が良いと思います．

この場合，人間が開傘操作を行うことは無い　＆　離床判定に失敗した場合でも**気圧変化によってのみ**開放判定が行われます．

[2020-02-16 08:59] tubemerc commented on #61
とりあえず↑でいきたいので、プログラム書いてください！(今書いてる？)

[2020-02-16 09:02] sksat commented on #61
今シミュレーションをやりながら3Dプリン聴いてます　ア

[2020-02-16 09:39] sksat commented on #61
できたあ

[2020-02-16 09:55] sksat commented on #61
とりあえず試験できます

[2020-02-16 10:13] sksat commented on #61
done

[2020-02-16 10:35] tubemerc commented on #55
2/19(水)
Tramp-HV通信距離試験

[2020-02-16 10:36] tubemerc commented on #57
やった！やったぁ！

[2020-02-16 10:36] #57 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2020-02-16 10:36] tubemerc commented on #58
コマンドは無し！やったぁ！

[2020-02-16 10:36] #58 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2020-02-16 10:41] tubemerc commented on #33
回路図ok
プログラムは @tubemerc がやるらしい(大室直々の指名)

[2020-02-16 14:29] tubemerc commented on #37
@sk2sat
無線の設定って
https://github.com/core-rocket/momotarou/blob/ES920LR/ES920LR/memo.md
これの通り？

[2020-02-16 14:30] sksat commented on #37
たぶんそう

[2020-02-16 15:18] tubemerc commented on #61
ランチクリア確認コマンド送信条件
地上局の人間が目視でランチクリアを確認したが，ロケットが離床判定したことをダウンリンクされたデータから確認できない場合に送信する．

でよい？

[2020-02-16 15:23] sksat commented on #61
う〜ん，ランチクリア確認とデータ確認とかちんたらやってたらロケットがどんどん上昇してしまうため，目視でランチクリア確認したら送るでいいと思います．離床検知が正常に行われた場合はこのコマンドは受理されないため．

[2020-02-16 15:24] tubemerc commented on #61
了解です

[2020-02-17 08:51] tubemerc commented on #60
全てのケーブルの仕様が確定したので残り作れます
残り
- 電源(1-power)
- 電源(2-power)

[2020-02-17 08:54] tubemerc commented on #60
![配線図_2](https://user-images.githubusercontent.com/54838270/74638074-94278a00-51ae-11ea-8703-c1d57f6a1c03.png)

[2020-02-17 09:02] tubemerc commented on #55
やったぁ！

[2020-02-17 09:02] #55 closed, assigned to Yukuro, sksat, tubemerc

[2020-02-17 11:42] tubemerc opened #65 "再発注基板が来ない"
再発注基板が来ないため，ノーズ電装とロガー電装が完成しない．

発送が止まっているらしいが，製造も止まっている感じがする．
製造も止まってるのか？急いでくれとメールで問い合わせています．

【来ない場合の対処法】
- 国内で再発注
    - お金がかかるため，微妙．
        - ユニクラフトのサービスでノーズ基板とロガー基板のどちらかなら無料で作れる．
            - 作るとしたらノーズ基板．
- ユニバーサル基板で作る
    - DIP化キット等を買う必要があるが~~現実的~~大きさ的に厳しい．
- 古い基板を使う
    - ロガー基板は気圧が取れなくなる．フラッシュメモリに再挑戦できる．
    - ノーズ基板は使えない．ユニバーサル基板でやった方がよい．

[2020-02-17 12:15] tubemerc opened #66 "電装タワー組立手順書"
完成したらここに書く．

[2020-02-17 12:16] tubemerc commented on #66
取り敢えず．

1. 基板にセンサ（GPS・ES920LR・トワ赤）を取り付け，ポッティングする．
2. Li-Poの電圧を確認する．
3. 電源固定板にLiPoバッテリを固定する．
    - 固定方法：ロックタイ?
4.  基板をスペーサーで繋ぐ．
    - 片側から繋げていく．
5. ケーブル（ノーズ・ソレノイドバルブ・燃圧・電源）を繋ぎ，ポッティングする．
6. Li-Poを繋ぎポッティングする．
    - ここが電源ONタイミング?
    - Li-Po接続後にスイッチ（というかジャンパ）でON/OFFできるようにもしているが，電源投入のタイミングはあまり変わらない気がする．
7. 無線やシリアルで動作確認して完了．

[2020-02-17 12:20] tubemerc opened #67 "トラブルシューティング"
打上当日，運搬中，製作時（今更）などに考えられるトラブルとその対策・対処法を……まとめたい！

[2020-02-17 14:35] tubemerc commented on #53
2次審査書倒しました．やったぁ！

[2020-02-17 14:35] tubemerc commented on #56
やったぁ！

[2020-02-17 14:35] #56 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2020-02-17 14:59] sksat commented on #65
ワンチャン古い基板で突き進むかんじですかね？

[2020-02-17 15:04] tubemerc commented on #65
よく考えたらユニバーサル基板にロガーもノーズも収まる未来が見えないので，
- ロガーは古い基板で突き進む（気圧をロガーで取らない）
- ノーズは[ユニクラフトのヤツ](https://unicraft-jp.com/pcb/free_pcb.shtml)で発注する

がよい気がする．
2/23迄にSeeedからよい返信（製造開始するとか発送開始する）が貰えなかったら方針決定します．

[2020-02-17 15:09] tubemerc commented on #61
現状
- フライトモードON
- リセット（STANDBYフェーズに戻る）
- ランチクリア確認

[2020-02-17 15:35] sksat commented on #61
あとなんかあります？

[2020-02-17 15:42] sksat commented on #65
気圧が取れないと→→→かなしい！！！と思ったけどメイン電装でちゃんと保存できれば→→→うれしい！！！！！ということを思い出した

[2020-02-17 16:55] haru-11 commented on #65
ちなみに、落ち武者はステータスが「製造」に変わったらしいが…

[2020-02-17 17:38] tubemerc commented on #61
思いつかんのでナシ！

[2020-02-19 05:14] tubemerc commented on #33
ランチャー側の電装をユニバーサル基板で作りたいが，大室のタスク的に今は無理
大室ができるようになったら（いつ？）作るか，誰かに頼む
急ぎではない（ブレボでもいいため）

[2020-02-19 08:27] tubemerc commented on #65
直ちにfile reviewやるよ～～んというメールが来ました

[2020-02-19 08:55] sksat commented on #67
電源ON！テレメトリが来ない！どうする？

[2020-02-19 16:08] tubemerc commented on #67
- 電源ON！テレメトリが来ない！どうする？
    - 電源再投入．
    - UARTでどこまでデータが届いてるか確認する．
        - 無線機にデータを送信できている．
            - 無線機壊れてない？
        - センサから受信できている．
            - CANに5V入ってる？
            - CANケーブル導通してる？
        - センサから取得できていない．
            - 3.3V入ってる？
    - 無線機の設定合ってる？
    - 無線機付け替える．
    - 予備基板に変更．

- マイコンにプログラムが書き込めない！
    - RST/CLK/DIOの順番合ってる？
    - GND共通してる？
    - 電源入ってる？
    - ST-Link抜き差し．
    - 別のST

[2020-02-19 18:13] tubemerc commented on #52
姿勢角忘れてたぁので足した 2136534f93744d0bb58719ff8aaa8fa0b2a7e940

[2020-02-20 06:39] tubemerc commented on #65
PCB in Production
2020 Feb 19 18:09:16

作り始めたぁ

[2020-02-20 10:47] tubemerc commented on #66
layer2と3の間に電源を置いてるのなんでだろう……3と4(ﾊﾞﾙﾌﾞ)の間でよいのでは……

[2020-02-20 10:51] tubemerc commented on #66
3と4の間にいれちゃおうかな、EHピンの裏表変えるだけなので（指すのめんどくさくなる感じもナシ）

[2020-02-20 11:03] tubemerc commented on #60
コネクタ完了
残り：Li-Po，予備

[2020-02-24 10:00] tubemerc commented on #60
バルブ電装のケーブル忘れてたぁ

@haru-11 水密から伸びるのはサーボ用の3本でよい？

[2020-02-24 10:07] tubemerc commented on #65
現在：品質確認（基板製作の最終ﾌｪｰｽﾞ）
今のところ，普段と比べると3日の遅延．

[2020-02-24 10:52] haru-11 commented on #60
良いです。

[2020-02-25 13:40] tubemerc commented on #65
PCB Finished
2020 Feb 25 15:23:19

[2020-02-26 04:30] tubemerc commented on #65
発送済
2/28到着予定

[2020-02-28 13:12] tubemerc commented on #65
来た

[2020-02-28 13:12] #65 closed, assigned to tubemerc

[2020-03-01 10:18] tubemerc commented on #53
合格しました．

[2020-03-01 10:18] #53 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2020-03-01 10:20] tubemerc opened #70 "はんだする"
- [x] nose
- [x] solenoid valve
- [x] layer1
- [x] layer2
- [x] layer3
- [ ] valve

[2020-03-01 13:29] tubemerc opened #71 "プロジェクト報告書を倒す"
フォーマット展開　3/2 10:00予定

https://drive.google.com/open?id=1T0CuNAaT9kt4J8iKAT2-KdkkuR0GKxzB

[2020-03-04 11:53] tubemerc commented on #71
"12. 申し送り事項"に書くべきことがあれば教えて下さい！！！！所謂プロジェクトの反省です！！！！

例：
- GitHubのissueやproject機能を用いた進捗管理はやるべき事が分かりやすくなるので今後もやっていけ～～！！issueはどんどん開いた方が良い（どうせ閉じたら見えなくなるため）．issue上での議論が他班に伝わりにくいのは，議事録で共有するかslackのGitHubチャンネルを確認してもらう．
- mbed CLIはめんどくさい．
- 対気速度測るなら外の温度が分かるようなセンサが欲しい（ロケット内部の温度測っても微妙）．
- コロナウイルスはクソ．
- 劇場版「メイドインアビス」-深き魂の黎明-．

[2020-03-04 12:10] sksat commented on #71
CANは良い文明

[2020-03-12 06:09] tubemerc commented on #37
センサから取得してトワで送って欲しいデータ

- IDにつき1種類
    - 0x03：気圧
    - 0x04：合成加速度
    - 0x0A：燃圧
    - 0x0B：動圧
    - 0x0C：気温

- IDにつき複数
    - 0x05：
        - 緯度 'a'
        - 経度 'o'
        - 時刻 't'
    - 0x07：
        - ｸｫｰﾀﾆｵﾝq0 'a'
        - ｸｫｰﾀﾆｵﾝq1 'b'
        - ｸｫｰﾀﾆｵﾝq2 'c'
        - ｸｫｰﾀﾆｵﾝq3 'd'
    - 0x08，0x09，0x0D
        - 順に加速度，角速度，地磁気で文字は'x','y','z'

センサじゃないヤツ
- 0x02：ｴﾗｰ
- 0x06：ﾌｪｰｽﾞ

[2020-03-12 06:09] tubemerc commented on #35
@haru-11
どすか

[2020-03-12 06:10] haru-11 commented on #35
分かる。
統合試験いつだっけ

[2020-03-12 06:11] tubemerc commented on #70
ノーズとlayer3のはんだ、明日（3/13）する

[2020-03-12 06:11] tubemerc commented on #70
@haru-11
バルブ電装完成したら教えて下さい

[2020-03-12 06:13] tubemerc commented on #35
3/20までに電装は完成すると今決めました

[2020-03-15 08:22] tubemerc commented on #70
部品足りなかったので17日にやります

[2020-03-17 11:44] tubemerc commented on #70
- layer3:完了
- [x] 予備layer1,2のCANﾄﾗﾝｼｰﾊﾞの抵抗を120ohmに付け替える
- [x] noseのL字EHコネクタ無い，探す・買う

[2020-03-17 11:45] tubemerc commented on #70
- layer3：電源部分動作確認おｋ，残りロガー
- nose：CAN以外動作確認おｋ

[2020-03-21 10:25] tubemerc commented on #66
1. 水密部上部から伸びたケーブル(x2)をlayer1と接続する
2. layer1を取り付ける
3. layer1とlayer2をケーブルで接続する
4. layer2を取り付ける
5. layer3を取り付ける
6. 電装固定板にバッテリを取り付ける
7. 電源固定板を取り付ける
8. 電源ケーブル(x4)を接続する
9. バッテリを積む（EH指してから）
10. 水密部下部から伸びたケーブル(x2)を接続する
11. ジャンパピンを指し，電源を投入する

[2020-03-21 10:43] tubemerc commented on #71
- ﾃﾞﾊﾞｯｸﾞ用にGND指すとこ付けろ
- 水密ケーブルの径だけじゃなくコネクタの大きさも考えろ

[2020-03-25 06:38] tubemerc commented on #36
@sk2sat
https://github.com/core-rocket/momotarou/commit/a0695532b7b8c0be5ae10025dbfa8e9de418084b
離床判定に3軸合成加速度使ってなかったので勝手に修正しました
（試験用に1.2gで判定するようにしてたのも反映させちゃったので直しました）

[2020-03-25 08:53] tubemerc commented on #70
nose、L字じゃないヤツで干渉しなかった

[2020-03-25 08:54] tubemerc commented on #70
バルブ電装はまあええか。。。。。。

[2020-03-25 08:54] #70 closed, assigned to tubemerc, Kazu-hub, shoji-kota

[2020-03-25 08:56] tubemerc commented on #60
残りはバルブ電装だけど。。。。。。まあええか

[2020-03-25 08:56] #60 closed, assigned to tubemerc, Kazu-hub, shoji-kota

[2020-03-25 08:56] tubemerc commented on #64
大島には行きません。

[2020-03-25 08:56] #64 closed, assigned to Yukuro, sksat, haru-11, tubemerc, omuro-kairi, Kazu-hub, shoji-kota

[2020-03-25 09:08] tubemerc commented on #39
何これ！！！！！！！！！！！！！！！！！！！！知らない！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！

[2020-03-25 09:08] #39 closed, assigned to tubemerc

[2020-03-26 05:23] tubemerc commented on #71
- 1つの基板上に同数pinのコネクタが複数存在するとき、色分けOR分かりやすいシルクを付ける